<!DOCTYPE>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">

    <title th:replace="${title}">瀚海云盘</title>
<!--    jquery-->
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
<!--    base.css-->
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
<!--    bootstrap样式-->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.6.0/css/bootstrap.css">
    <!--    bootstrap图标样式-->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.6.0/font/bootstrap-icons.css">
<!--    bootstrapjs文件-->
    <script type="text/javascript"
            src="/static/bootstrap-4.6.0/js/bootstrap.js"></script>

<!--    axios-->
    <script type="text/javascript" src="/static/axios/axios.min.js"></script>
<!--表单序列化-->
    <script type="text/javascript" src="/static/serializeObject.js"></script>
<!--    layer弹窗-->
    <script type="text/javascript" src="/static/layer/layer.js"></script>
<!--    常量-->
    <script type="text/javascript" src="/static/constant.js"></script>
<!-- 图标-->
    <link rel="icon" href="/static/img/logo.ico" type="img/x-icon"/>

<!--    iconfont-->
    <script src="/static/iconfont/iconfont.js"></script>
</head>
<body>

</body>
</html>