<!DOCTYPE>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:replace="${title}">瀚海云盘</title>
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.6.0/css/bootstrap.css">
    <script type="text/javascript"
            src="/static/bootstrap-4.6.0/js/bootstrap.js"></script>

    <script type="text/javascript" src="/static/axios/axios.min.js"></script>

    <script type="text/javascript" src="/static/serializeObject.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <script type="text/javascript" src="/static/constant.js"></script>

<!--    &lt;!&ndash;/* Per-page placeholder for additional links */&ndash;&gt;-->
<!--    <th:block th:replace="${links}" />-->
<!--    &lt;!&ndash;/* Per-page placeholder for additional styles */&ndash;&gt;-->
<!--    <th:block th:replace="${styles}" />-->
</head>
<body>

</body>
</html>