<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="nav-header">

    <style>
        nav .dropdown-menu{
            min-width: 7rem;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-top" style="box-shadow: 0 5px 3px rgba(0,0,0,.2)">
        <a class="navbar-brand" href="/main">
            <img style="display: inline" src="/static/img/logo-capacity.png" width="40px" title="这是瀚海云盘的LOGO"
                 alt="此处是瀚海云盘的LOGO">
            <span style="font-size: 25px">瀚海云盘</span>
        </a>
        <th:block th:if="${isLogin}">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="form-inline">
                <img class="rounded-circle" width="40px" title="这是用户头像"
                     alt="此处是用户头像"  th:src="${'/avatar/'+userInfo.userId}"
                     id="headerUserAvatar">
                <div class="dropdown">


                    <label style="margin-top: 10px;margin-left: 8px;margin-right: 40px"
                           th:text="${userInfo.userName}"  class=" dropdown-toggle" id="dropdownMenu1"
                           data-toggle="dropdown"  >用户名</label>
<!--                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"-->
<!--                            data-toggle="dropdown" th:text="${userInfo.userName}">-->

<!--                    </button>-->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" data-toggle="modal" data-target="#personalModal">
                            <a role="menuitem" tabindex="-1" href="#" class="dropdown-item">
                                个人信息
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="0" href="/admin" class="dropdown-item"
                               th:if="${userInfo.admin}">
                                后台管理
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="1" href="/logout" class="dropdown-item">
                                注销退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </th:block>

        <!-- 未登录显示 logo + 取件 + 登录 -->
        <th:block th:if ="${!isLogin}">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <a href="/s/takeCode" class="btn btn-outline-primary mr-3 px-3" style="text-decoration: none" target="_blank">取件</a>
                <a href="/login" class="btn btn-outline-success mr-3 px-3">登录</a>
            </div>
        </th:block>
    </nav>
    <th:block th:if="${isLogin}">
    <!--个人信息模态框-->
    <div th:replace="common/PersonalModal :: PersonalModal"></div>
    </th:block>
</div>

</html>