<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="previewModel">

    <script src="/static/iconfont/iconfont.js"></script>
    <script type="text/javascript" src="/static/images/ImagePreview.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/images/ImagePreview.css">
    <script src="/static/vidios/audiojs/audio.min.js"></script>
<!--    <link rel="stylesheet" href="/static/vidios/includes/index.css" media="screen">-->

    <style type="text/css">

        .videoed {
            display: none;
            width: 50px;
            height: 50px;
            position: absolute;
            left: 45%;
            top: 45%;
            z-index: 99;
            border-radius: 100%;
        }
        .icon {
            width: 2em;
            height: 2em;
        }
        .videos {
            display: none;
            position: fixed;
            top: 30%;
            margin-top: -210px;
            z-index: 2000;
            height: 800px;
        }

        .vclose {
            position: absolute;
            right: 1%;
            top: 1%;
            border-radius: 100%;
            cursor: pointer;
        }
        #zipContent li{
            margin-bottom: 4px;
        }
        #zipContent li:hover{
            background-color: #F5F6F7;
        }
        #zipContent .icon{
            margin-left: 10px;
            margin-right: 10px;
        }
        .videoShadow{
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            z-index:998;
            background-color:#000;
            opacity:0.6;
            display:none;
        }

    </style>
    <div id="zipContent">
        <ul id="LastFloor">
        </ul>
        <ul id="unZipFileListDir">
        </ul>
        <ul id="unZipFileListNotDir">
        </ul>
    </div>
    <div class="videoShadow"></div>

    <div id="audio-action" style="width: 100px;height: 50px;left: 50px" hidden="hidden" >
        <div class="container" style="margin-top: 100px">
            <div class="videos"></div>
        </div>
    </div>
    <script type="module">

        import httpUtil from "/static/httpUtil.js";
       $(function(){
           // axios
           // window.addEventListener('load', function() {
           //     // preview("102555555555556")//PNG
           //     // preview("1025555577777777")//JPG
           //     preview("1025550000")//ZIP
           //     // preview("160236107767899")//MP3
           //     // preview("160677771518022")//MP4
           //     // preview("102555555555555")//PDF
           //     // preview("1025550000555555")//TXT
           //     // preview("102555555555666")//DOCX
           // });
           // // preview("1025555577777777")//JPG
           // // preview("160236107767899")//MP3
           // // preview("160677771518022")//MP4
           // // preview("102555555555555")//PDF
           // // preview("102555555555666")//DOCX
           let videoTypeSet=new Set(["MP4","WEBM"])
           let audioTypeSet=new Set(["MP3","OGG","AAC","FLAC","M4R"])
           let imageTypeSet=new Set(["PNG","GIF","JPG","JPEG","BMP","GIF","ICO","WEBP"])
           let openOfficeTypeSet=new Set(["PPTX","XLSX","DOCX","DOC","HTML","RTF","TXT","TIFF","TTF","PPT","SVG","SWF","DBF","XLS","XLT","SQL","PDF"])
           let modernPath=""
           // let titleName="文件预览"
           let userFileId = undefined;
           $.fn.preview=function (userFileIds,filename){

               // 先判断类型
               userFileId=userFileIds
               httpUtil.get("/getFileType",{
                   params:{
                       path:userFileId
                   }
               }).then(function (res){
                   previewFile(res.data,undefined,filename)
               }).catch(err=>{
                   console.log(err)
               })

           }

           function previewFile(type,url,filename){
               if(!filename){
                   filename="文件预览"
               }
               if(imageTypeSet.has(type)){
                   let image = new ImagePreview();
                   if (url){
                       image.show(url);
                   }
                   else{
                       // console.log(url)
                       image.show('/preview/media?userFileId='+userFileId);
                   }
                   return;
               }
               if(openOfficeTypeSet.has(type)){
                   if(url){
                       layer.open({
                           type: 2,
                           title: filename,
                           shadeClose: true,
                           shade: 0.8,
                           area: ['80%', '90%'],
                           // content: "http://localhost:63342/shixun/ImagePreview/src/竹林幽径-0.0.0.1.jpg" //iframe的url
                           content: url //iframe的url
                       })
                   }else {
                       layer.open({
                           type: 2,
                           title: filename,
                           shadeClose: true,
                           shade: 0.8,
                           area: ['80%', '90%'],
                           // content: "http://localhost:63342/shixun/ImagePreview/src/竹林幽径-0.0.0.1.jpg" //iframe的url
                           content: '/preview/document?userFileId='+userFileId//iframe的url
                       })
                   }
                   return;
               }
               if(audioTypeSet.has(type)){
                   // function display() {

                   layer.open({
                       title: filename,
                       type: 1, skin: 'demo-class',
                       closeBtn: 1,
                       shadeClose: true,
                       resize:false,
                       offset:"rt",
                       area: ['500px', '120px'],

                       success: function () {
                           if(url){
                               $("#audio-action").prop("hidden",false);
                               $("#audio-action").html("<audio src="+url+" preload='auto'></audio>")
                           }else {
                               $("#audio-action").prop("hidden",false);
                               $("#audio-action").html("<audio src='/preview/media?userFileId="+userFileId+"' preload='none'></audio>")
                           }

                           audiojs.events.ready(function () {
                               audiojs.createAll();
                           });
                       },
                       cancel:function (){
                           $("#audio-action").prop("hidden",true);
                           $("#audio-action").html("")
                       },
                       content: $("#audio-action") //iframe的url
                   });
                   return;
               }
               if(videoTypeSet.has(type)){


                   let src = "";
                   // var video ="http://localhost:8080/test1?userfileId=160677771518022"//获取视频路
                   if(url){
                       $(".videoShadow").css({'display':'block'});
                       $("#audio-action").prop("hidden",false);
                       $('.videos').html("<video id=\"videoPlay\" style='height: 100%' src="+url
                           + " preload=\"auto\" controls=\"controls\" autoplay=\"autoplay\">" +
                           "</video><img id='closeVideo' class=\"vclose\" src=\"/static/video/gb.png\" width=\"25\" height=\"25\"/>");

                       src = url;


                   }else {
                       $(".videoShadow").css({'display':'block'});
                       $("#audio-action").prop("hidden",false);
                       $('.videos').html("<video id=\"videoPlay\" style='height: 100%'  type=\"video/mp4\"  controls=\"controls\" autoplay=\"autoplay\">" +
                           "</video><img id='closeVideo' class=\"vclose\" src=\"/static/video/gb.png\" width=\"25\" height=\"25\"/>");
                       // let left = (parseInt($('body').css('width').substring($('body').css('width'),$('body').css('width').length-2))
                       //     -parseInt($('.videos').css('width').substring($('.videos').css('width'),$('.videos').css('width').length-2)))

                       //
                       src = "/preview/media?userFileId="+userFileId;

                       // console.log(left)
                       // $('.videos').css({'left':left+'px'})
                   }
                   var vid = document.getElementById("videoPlay");
                   vid.src=src


                   $("#videoPlay")[0].addEventListener('canplay', function () {

                       let videoWith = Number($('.videos').css('width').split("px")[0]);
                       let bodyWith = window.innerWidth//Number($('body').css('width').split("px")[0])

                       videoWith=videoWith/9*8
                       console.log(videoWith)
                       console.log(bodyWith)
                       let left = (bodyWith/2)-(videoWith/2);
                       console.log(((bodyWith/2)-(videoWith/2)))
                       $('.videos').css('left',left+"px")


                   });
                   $(".videoShadow").click(function (){
                       $(".videoShadow").css({'display':'none'});
                       $('.videos').hide();//点击关闭按钮关闭暂停视频
                       // $("video").get(0).pause()
                       $('.videos').html("");
                       $("#audio-action").prop("hidden",true);
                   })
                   $("#closeVideo").click(function(){
                       $(".videoShadow").css({'display':'none'});
                       $('.videos').hide();//点击关闭按钮关闭暂停视频
                       // $("video").get(0).pause()
                       $('.videos').html("");
                       $("#audio-action").prop("hidden",true);
                   })
                   $('.videos').show();
                   return;
               }
               if(type==="ZIP"){
                   if(!url){
                       layer.open({
                           type: 1,
                           title:filename,
                           zIndex:"1",
                           // skin: 'layui-layer-rim', //加上边框
                           area: ['420px', '440px'], //宽高
                           content: $("#zipContent"),
                           cancel: function(){

                               $("#LastFloor").empty()
                               $("#unZipFileListDir").empty()
                               $("#unZipFileListNotDir").empty()
                           }
                       });
                       getPath(userFileId)
                       console.log(userFileId)
                   }


                   function getPath(path) {
                       if (path===""){
                           layer.msg("zip文件预览错误");
                           return;
                       }
                       httpUtil.get("/preview/zip",{
                           params:{
                               path:path
                           }
                       }).then(res => {
                           $("#LastFloor").empty()
                           $("#unZipFileListDir").empty()
                           $("#unZipFileListNotDir").empty()
                           if(modernPath!=""){
                               console.log(111)
                               $("#LastFloor").append('<li >'+" <svg class='icon' aria-hidden='true'><use xlink:href='#icon-"+"dir"+"'></use></svg>"+"..."+'</li>');
                           }
                           for (let i=0;i< res.data.length;i++){
                               // $("#unZipFileList").append('<li>' +" <svg class='icon' aria-hidden='true'><use xlink:href='#icon-"+type[i].type+"'></use></svg>"+type[i].name+'</li>');

                               if (res.data[i].type==="dir"){
                                   $("#unZipFileListDir").append('<li >'+" <svg class='icon' aria-hidden='true'><use xlink:href='#icon-"+res.data[i].type+"'></use></svg>"+res.data[i].name+'</li>');
                               }else
                                   // <use href='#icon-"+type[i].type+"'></use>
                                   $("#unZipFileListNotDir").append('<li>' +" <svg class='icon' aria-hidden='true'><use  xlink:href='#icon-"+(fileTypeSet.has(res.data[i].type.toUpperCase())?res.data[i].type:"other")+"'></use></svg>"+res.data[i].name+'</li>');
                           }
                           $("#unZipFileListDir li").click(function (){
                               getPath(userFileId+"/"+modernPath+"/"+$(this).text().trim())
                               modernPath=modernPath+"/"+$(this).text().trim()
                               console.log(modernPath)
                           })
                           $("#LastFloor li").click(function (){
                               getPath(userFileId+"/"+modernPath.substring(0,modernPath.lastIndexOf("/")))
                               modernPath=modernPath.substring(0,modernPath.lastIndexOf("/"))
                           })
                           $("#unZipFileListNotDir li").click(function (){
                               let zipFileType = $(this).text().trim().substring($(this).text().trim().lastIndexOf(".")+1).toUpperCase()
                               if (zipFileType==="ZIP"){
                                   layer.msg("暂不支持该类型文件的预览")
                               }
                               let zipFileUrl="/preview/zip/file?path="+userFileId+modernPath+"/"+$(this).text().trim()
                               console.log(zipFileUrl)
                               previewFile(zipFileType,zipFileUrl,$(this).text().trim())
                           })
                       })
                   }
                   return;
               }

               layer.msg("暂不支持该类型文件的预览")
           }
       })
    </script>
</div>

</html>