<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 引入popper.js	-->
<!--	<script src="/static/popper/popper.min.js"></script>-->

	<th:block th:include="common/header :: header(~{::title})">
		<title>分享文件</title>
	</th:block>
	<script src="/static/converFileSize.js"></script>

	<style>
    .main {
      display: flex;
      height: calc(100vh - 88px);
      width: 100%;
      overflow-y: hidden;
      margin-top: 10px;
      font-size: 1.5rem;
    }

    .rMain {
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #fff;
      overflow: auto;
    }

    #expireTime{
      margin-left: 3%;
      line-height: 1.5rem;
	    font-size: 1rem;
	    color: #5a6268;
    }

    .modal-backdrop.show{
	    opacity: 0.3;
    }
	</style>

	<script type="module">
			import httpUtil from "../static/httpUtil.js";
      $(function(){
          console.log("[[${shareId}]]")
          // 密码未验证成功
			    if([[${not pwdPass}]]){
              $("#pwdCheck").modal("show")
					    setTimeout(function(){
                  layer.msg("[[${msg}]]")
					    }, 200)
			    }
			    else {
							httpUtil.get("/s/shareInfo", {
							    params: {
							        shareId: "[[${shareId}]]",
									    currentPath: "init"
					    }})
					    .then(res => {
                  $("#fileName").text(res.data[0].fileName)
							    $("#expireTime b").text(res.data[0].expireTime.replace("T", " ")=='1970-01-01 07:59:59'?"永久":res.data[0].expireTime.replace("T", " "))
							    // 文件大小
                  $("#fileSize").text(convertFileSize(res.data[0].fileSize))
							    // 是否还有 下载/转存 次数
							    if(!res.data[0].haveDown){
                      $("#downBtn").prop("disabled", "disabled")
							    }
			            if(!res.data[0].haveDump){
			                $("#dumpBtn").prop("disabled", "disabled")
			            }
					    })
			    }
			    // 密码验证
			    $("#pwdCheckBtn").click(function(){
			        if($("input[name='pwd']").val().trim().length != 6){
			            layer.msg("请输入6位密码")
			        }
			        else{
			            $("form").attr("action", "/s/[[${shareId}]]")
							    $("form").submit()
              }
			    })
		      // 取消分享
		      $("#cancelShareBtn").click(function(){
							$("#cancelShareModal").modal("show")
		      })
		      // 确认取消分享
		      $("#cancelShareConfirm").click(function(){
              httpUtil.put("/share/closeShare/"+"[[${shareId}]]")
                  .then(res =>{
                      setTimeout(function (){
                          $("form").attr("action", "/s/[[${shareId}]]")
                          $("form").submit()
                      }, 500)
                  })
		      })
		})
	</script>


</head>

<body>
<div th:replace="common/nav-header :: nav-header"></div>
<div th:if="${pwdPass}" class="row main" style="margin-top:8px;">
	<div class="rMain container shadow">
		<!--	分享信息	-->
		<section class="fileInfo pt-3">
			<!--	图标		-->
			<svg fileType="" class='icon ml-4 mr-1 mt-1' aria-hidden='true'>
				<use xlink:href='#icon-mp3'></use>
			</svg>
			<!--	文件名		-->
			<span id="fileName"></span>
			<!--	过期时间		-->
			<span id="expireTime">
				过期时间: <i class="bi bi-stopwatch pl-2"></i><b style="font-weight: normal;"></b>
			</span>
			<div class="float-right">
				<button class="btn btn-primary mr-3" id="cancelShareBtn" th:if="${isOwner}"><i class="bi bi-cloud-slash pr-2" ></i>取消分享</button>
				<button  class="btn btn-primary mr-3" id="dumpBtn" th:if="${not isOwner}"><i class="bi bi-box-arrow-in-right pr-2"></i>保存到网盘</button>
				<button class="btn btn-primary" id="downBtn">
					<i class="bi bi-box-arrow-in-down"></i>
					下载(<span id="fileSize"></span>)
				</button>
			</div>
		</section>
		<!--	文件预览	-->
		<section></section>
	</div>
</div>

<!-- 密码检测模态框 -->
<div  th:if="${not pwdPass}" class="modal fade" id="pwdCheck" style="margin-top: 14%" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h5 class="modal-title">
					<img th:src="${'/avatar/'+user.getUserId()}" alt="" class="rounded-circle" style="width: 35%;">
					<span class="userName ml-1 mt-1" th:text="${user.getUserName()}"></span>
				</h5>
			</div>

			<!-- 模态框主体 -->
			<div class="row mt-4 ml-5 mb-0">
				<label class="col-4">请输入密码：</label>
			</div>
			<form action="" method="get">
				<div class="modal-body ml-5 mt-0 pt-2 mb-5 row">
					<input type="text" class="form-control col-8" name="pwd" placeholder="请输入6位密码" required maxlength="6">
					<input type="button" class="btn btn-primary col-2 ml-2" id="pwdCheckBtn" value="确定">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 取消分享模态框 -->
<div class="modal fade" id="cancelShareModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<!-- 模态框头部 -->
			<div class="modal-header">
				<h5 class="modal-title">确认操作</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 模态框主体 -->
			<div class="modal-body py-4 mx-2">
				<span>确认取消分享该文件?</span>
			</div>
			<!-- 模态框底部 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="cancelShareConfirm">确定</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>