<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:include="common/header :: header(~{::title})">
        <title>提交任务-[[${fileInbox.title}]]</title>
    </th:block>

    <script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/spark-md5.js"></script>

    <style>
        .main{
            background-color: #EDF1F5;
        }
        .record-commit-body{
            margin: 20px auto 0;
            width: 800px;
            height: 550px;
            padding: 20px 30px;
            border-radius: 12px 12px 0 0;
            background-color: #ffffff;
            font-size: 16px;
        }
        .record-commit-content{
            margin-left: 15%;
        }
        .record-avatar{
            width: 40px;
            height: 40px;
            border-radius: 50% !important;
        }
        #commit{
            position:absolute;
            right: 500px;
            bottom: 200px;
        }
    </style>
</head>

<body>
<div th:replace="common/nav-header :: nav-header"></div>
<div class="main">
    <div class="content" style="overflow: hidden;margin-right: 1%">
        <div class="record-commit-body">
            <form>
                <div class="form-group">
                    <h2 align="center">
                        收件任务：[[${fileInbox.title}]]
                    </h2>
                </div>
                <div class="form-group">
                    <div align="center" style="float:left;margin-left: 42%">
                        <small class="form-text text-muted" style="font-size: 15px">
                            收集者： [[${publisherName}]]
                        </small>
                    </div>
                    <div style="float: right;margin-right:30px">
                        <small class="text text-muted" style="font-size: 10px">
                            截止时间：
                            <span th:text="${#temporals.format(fileInbox.endTime, 'yyyy-MM-dd HH:mm:ss')}">123</span>
                        </small>
                    </div>
                </div>
                <br><br><br>
                <div class="record-commit-content">
                    <div class="form-group" width="20px">
                        <label for="input_name">请根据提示信息输入内容：[[${fileInbox.inputTips}]]</label>
                        <input type="text" class="form-control" id="input_name" aria-describedby="input_name_help" style="width: 60%">
                        <small id="input_name_help" class="form-text text-muted">提交的文件会根据输入信息重命名</small>
                    </div>
                    <br>
                    <div class="form-group">
                        任务详情：[[${fileInbox.content}]]
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="selectFile">选择文件</button>
                        <span id="selectName"></span>
                        <input type="file" id="commitFile" hidden="hidden"/>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="commit">提交</button>
            </form>
        </div>
    </div>
</div>

<script type="module">
    import httpUtil from "/static/httpUtil.js";
    var recordFileId;  //文件ID
    var recordUserFileId;  //用户文件ID
    var inputName;  //输入名
    var fileOriName;  //文件原名
    var isCover=0;

    var conIndex;
    var filesId=-1;  //上传序号
    var filesNum=0;  //上传文件数
    let map = new Map();  //上传队列
    var state=0;  //上传状态 0：没有上传 1：正在上传
    var index=0;  //分片成功数  chunk+1
    var chunk=-1;  //分片数
    var succeed=0;  //成功表示
    var action=false;  //false检验分片是否上传(默认);true表示上传文件
    const shardSize=1*1024*1024;   //以1M为一个分片

    $(function (){
        if(!"[[${isFind}]]"){
            console.log("链接不存在或已失效！");
        }
    })

    $("#selectFile").click(function(){
        $("#commitFile").click();
    })
    $("#commitFile").change(function(){
        var file=$("#commitFile")[0].files[0];
        console.log("file.name="+file.name);
        $("#selectName").text(file.name);
    })

    $("#commit").click(function (){
        if(![[${isCommit}]]){ //判断能否提交
            layer.msg("权限不够，请登陆后再提交！");
            return;
        }
        var file=$("#commitFile")[0].files[0];
        console.log(file);
        if(file==undefined){
            layer.msg("未选择文件！");
            return;
        }
        inputName=$("#input_name").val().trim();  //文件输入名
        fileOriName=file.name;  //文件原名
        if(inputName==""){ //如果没有输入文件名，则输入名就变更为 文件原始名字
            layer.msg("请根据提示输入内容！");
            return;
        }
        //文件上传
        if(filesNum==0 && filesId==-1)
            filesNum=$("#commitFile")[0].files.length;
        filesCheck();
    })

    //收件记录表插入表
    function recordCommit(){
        httpUtil.post("/receiveRecordCommit",JSON.stringify({
            "fileId":recordFileId,
            "userFileId":recordUserFileId,
            "inboxId":[[${fileInbox.inboxId}]],
            "inputName":inputName,
            "commitFileName":fileOriName,
            "isCover":isCover,
        })).then(res=>{

        }).catch(err=>{

        })
    }

    //===========================================================================
    //===========================================================================
    /**
     *  检查等待队列中的每个文件，判断是否存在同名文件
     */
    function filesCheck(){
        var file; //文件对象
        filesId=filesId+1;
        console.log("filesId="+filesId);
        console.log("filesNum="+filesNum);
        if(filesId>=filesNum){
            console.log("=======开始上传=======");
            filesId=-1;
            filesNum=0;
            $("#commitFile").val(null);
            $("#selectName").text("");
            filesUpload();
        }else{
            file=$("#commitFile")[0].files[filesId];
            CheckIsUpload(file);
        }
    }

    /*
     * 检查文件是否上传，是否存在同名文件，加入到上传队列
     */
    function CheckIsUpload(file) {
        var r = new FileReader();
        r.readAsArrayBuffer(file);
        $(r).load(function (e) {
            var blob = e.target.result;
            var fileMd5 = SparkMD5.ArrayBuffer.hash(blob);
            console.log("fileMd5=" + fileMd5);
            var form = new FormData();
            form.append("path","[[${fileInbox.savePathId}]]");
            form.append("name",file.name);
            form.append("inputName",inputName);
            form.append("userId",[[${fileInbox.publisher}]]);
            $.ajax({
                url: "/inboxCommitIsCover",
                type: "POST",
                data: form,
                async: true,
                processData: false,//很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (userFileId) {
                    console.log("================== isCover ===================");
                    console.log("userFileId="+userFileId);
                    if(typeof(userFileId)=="string"){
                        console.log("新建逻辑")
                        isCover=0;
                    }else{
                        console.log("覆盖逻辑")
                        isCover=1;
                    }
                    checkIsCover(userFileId,fileMd5,file);
                    // lemon
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("服务器出错!@@@/isCover");
                }
            })
        })
    }

    function checkIsCover(userFileId,fileMd5,file){
        var form = new FormData();
        form.append("file",file);
        form.append("userFileId",userFileId);
        map.set(fileMd5,form);  //加入上传队列中
        layer.open({
            title: '上传进度'
            ,move:false
            ,content:file.name+
                '<div id="progress' + fileMd5 +'" class="progress">\n' +
                '    <div id="bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>\n' +
                '</div>'
            ,closeBtn: 0
            ,resize:false
            ,area:['500px','200px']
            ,btn: []
        });
        filesCheck();
    }

    function filesUpload(){     //多文件上传
        var len=map.size;
        if(len>0 && state==0){
            var fileMd5=map.keys().next().value;
            var file=map.get(fileMd5).get("file");
            var userFileId=map.get(fileMd5).get("userFileId");
            console.log("================= filesUplaod() ================")
            console.log("fileMd5="+fileMd5);
            console.log("userFileId="+userFileId);
            console.log(file);
            checkUpload(file,fileMd5,userFileId);
        }
    }

    function checkUpload(file,fileMd5,userFileId){
        state=1; //开始上传
        index=0;
        chunk=-1;
        succeed=0;
        action=false;
        var form = new FormData();
        form.append("md5", fileMd5);
        //Ajax提交
        $.ajax({
            url: "/isUpload",
            type: "POST",
            data: form,
            async: true,
            processData: false,//很重要，告诉jquery不要对form进行处理
            contentType: false,  //很重要，指定为false才能形成正确的Content-Type
            success: function (data) {
                console.log("data=");
                console.log(data);
                handleCheckIsUploadResult(file,fileMd5,data,userFileId);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("服务器出错!@@@/isUpload");
            }
        })
    }

    /**
     * 处理检查是否上传的结果
     *  @param file 当前文件
     *  @param flag 0未上传 1部分上传(断点续传) 2秒传
     */
    function handleCheckIsUploadResult(file,fileMd5,data,userFileId){
        let id=data.fileId;
        let flag=data.flag;
        if(flag==="0") {
            //没有上传该文件
            upload(file,id,fileMd5,userFileId);
        }else if(flag==="1" ){
            //部分上传
            chunk=data.chunk;
            action=true; //不用检测，直接上传
            console.log("断点续传");
            console.log("chunk="+chunk);
            console.log("index="+(chunk+1));
            upload(file,id,fileMd5,userFileId);
        }else if(flag==="2"){
            //秒传逻辑
            handleFastUpload(file,id,userFileId);
            layer.msg("文件已秒传");
            $("#progress"+ fileMd5 +" .progress-bar").css("width","100%");
            $("#progress"+ fileMd5 +" .progress-bar").text("100%");
            state=0; //等待上传
            map.delete(fileMd5);
            filesUpload();
        }
    }

    function handleFastUpload(file,id,userFileId){
        console.log("=============秒传=============");
        console.log("fileId="+id);
        var form=new FormData();
        form.append("fileId",id);
        form.append("name",file.name);
        form.append("inputName",inputName);
        form.append("size",file.size);
        form.append("userFileId",userFileId);
        form.append("userId",[[${fileInbox.publisher}]]);
        form.append("uploadPath","[[${fileInbox.savePathId}]]");
        $.ajax({
            url: "/fastUpload",
            type: "POST",
            data: form,
            async: true,
            processData: false,//很重要，告诉jquery不要对form进行处理
            contentType: false,  //很重要，指定为false才能形成正确的Content-Type
            success: function (data) {
                //====================================
                recordFileId=id;
                recordUserFileId=data;
                recordCommit();
                //====================================
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("服务器出错!@@@/isUpload");
            }
        })
    }

    /**
     * @param file 当前文件
     * @param id 文件id
     * @param fileMd5 文件md5值
     */
    function upload(file,id,fileMd5,userFileId){
        let name=file.name;
        let size=file.size;
        let shardCount=Math.ceil(size/shardSize);//总片数
        $("#file_name").text(name) ;
        //分片数>分片总数 结束本次方法调用
        if (chunk> shardCount) return;
        if(!action){
            chunk += 1;  //只有在检测分片时,i才去加1; 上传文件时无需加1
        }
        //计算每一片的起始和结束位置
        let start=chunk*shardSize;
        let end=Math.min(size,start+shardSize); //如果是最后一片不足shardSize，则取size作为结束位置
        //构造一个表单，FormData是HTML5新增的
        var form = new FormData();
        if(!action){
            form.append("action", "check");  //检测分片是否上传
        }else{
            form.append("action", "upload");  //直接上传分片
            form.append("data", file.slice(start,end));  //slice方法用于切出文件的一部分
        }
        form.append("id", id);
        form.append("md5", fileMd5);
        form.append("name", name);
        form.append("inputName",inputName);
        form.append("size", size);
        form.append("total", shardCount);  //总片数
        form.append("index", chunk+1);     //当前是第几片(从1开始)
        form.append("userFileId",userFileId);
        form.append("userId",[[${fileInbox.publisher}]]);
        form.append("uploadPath","[[${fileInbox.savePathId}]]");

        var index = chunk+1;
        //按大小切割文件段
        var data = file.slice(start, end);
        var r = new FileReader();
        r.readAsArrayBuffer(data);  //文件分片
        $(r).load(function (e) {
            var bolb = e.target.result;
            var partMd5=SparkMD5.ArrayBuffer.hash(bolb);
            form.append("partMd5", partMd5);
            //Ajax提交
            $.ajax({
                url: "/upload",
                type: "POST",
                data:form,
                async: true,
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function (data) {
                    handleUploadResult(file,id,fileMd5,shardCount,data,userFileId);
                },error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("服务器出错!@@@/upload");
                }
            })
        })
    }

    /**
     * 处理上传的结果
     * @param file 当前文件
     * @param id 文件id
     * @param fileMd5 文件MD5值
     * @param shardCount 分片总片数
     * @param data 文件分片
     */
    function handleUploadResult(file,id,fileMd5,shardCount,data,userFileId) {
        var id = data.fileId;
        var flag = data.flag;
        succeed=data.succeed;
        // var success=data.success;
        //服务器返回该分片是否上传过
        if (flag==="2"){
            $("#progress"+ fileMd5 +" .progress-bar").css("width","100%");
            $("#progress"+ fileMd5 +" .progress-bar").text("100%");
            //服务器返回分片是否上传成功
            // if (succeed  >= shardCount) {
            layer.msg("上传成功！");
            // chunk=-1;
            // succeed=0;
            state=0;
            map.delete(fileMd5);
            //====================================
            recordFileId=id;
            console.log("userFileId="+data.userFileId);
            recordUserFileId=data.userFileId;
            recordCommit();
            //====================================
            filesUpload();
            return;
            // }
        } else if (flag==="0"){
            //未上传,继续上传
            action = true;
        } else if (flag==="1"){
            //该分片已上传
            action=false;
            var num=succeed/shardCount*100;
            num = Math.floor(num);
            $("#progress"+ fileMd5 +" .progress-bar").css("width",succeed/shardCount*100+"%");
            $("#progress"+ fileMd5 +" .progress-bar").text(num+"%");
        }
        console.log("fileId="+id);
        upload(file, id, fileMd5,userFileId);
    }

</script>

</body>
</html>