<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入 popper.js(bootstrap-table需要)	-->
    <script src="/static/popper/popper.min.js"></script>
    <th:block th:include="common/header :: header(~{::title})">
        <title>inbox(收件箱)</title>
    </th:block>

    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">-->
    <script src="/static/datetime/moment-with-locales.min.js"></script>

    <!-- 引入bootstrap-table.css	-->
    <link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.min.css">
    <!--	引入bootstrap-table.js -->
    <script src="/static/bootstrap-table/bootstrap-table.min.js"></script>
    <!--	引入bootstrap-table中文包 -->
    <script src="/static/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="/static/datetime/tempusdominus-bootstrap-4.min.css">
    <script src="/static/datetime/tempusdominus-bootstrap-4.min.js"></script>

    <style>
        #datetimeText {
            width: 100%;
            max-width: 100%;
            size: 100px;
        }
        #inbox_detailModal{
            padding-right: 400px;
        }
    </style>
</head>

<body>
<div th:replace="common/nav-header :: nav-header"></div>
<th:block th:include="common/selectDir::selectDir"></th:block>
<div class="main">
    <div th:replace="common/nav-left :: nav-left"></div>
    <div class="content" style="overflow: hidden;margin-right: 1%;overflow-y: scroll;">
        <button type="button" id="btn_new" name="btn_new" class="btn btn-success" style="margin-top: 5px;margin-bottom: 10px">+ 发起收件申请</button>
        <table id="s_table" data-pagination="true" data-align="center">
            <thead>
            <tr>
                <th data-field="title" data-align="center">收件任务(标题)</th>
                <th data-field="commit_count" data-align="center">提交人数</th>
                <th data-field="create_time" data-align="center">创建时间</th>
                <th data-field="end_time" data-align="center">截止时间</th>
                <th data-field="op" data-align="center">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- 新建收件模态框 -->
<div class="modal" tabindex="-1" id="inbox_newModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 标题 -->
            <div class="modal-header">
                <h5 class="modal-title">发起收件申请</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- 内容 -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="textTitle">收件主题：</label>
                    <input type="email" class="form-control" id="textTitle">
                </div>
                <div class="form-group">
                    <label for="textInput">输入提示：</label>
                    <input type="email" class="form-control" id="textInput">
                </div>
                <div class="form-group">
                    <label for="selectType">提交权限：</label>
                    <select class="form-control" id="selectType">
                        <option>全部用户</option>
                        <option>登陆用户</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="savePath">保存路径：</label>
                    <div class="form-group row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control col-8 mr-1" id="savePath" disabled="disabled"/>
                        &nbsp;&nbsp;
                        <button type="button" id="btnPath" class="btn btn-primary col-3">选择路径</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="datetimepicker">截止时间：</label>
                    <div class="container">
                        <div class="row">
<!--                            <div class="col-sm-6">-->
                                <div class="form-group" style="width: 470px">
                                    <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                                        <input type="text" id="datetimeText" style="width:100px"
                                               class="form-control datetimepicker-input" data-target="#datetimepicker"/>
                                        <div class="input-group-append" data-target="#datetimepicker"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                            </div>-->
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker').datetimepicker({
                                        locale: 'zh-cn',
                                        dayViewHeaderFormat: 'MMMM YYYY',
                                        format: 'YYYY-MM-DD HH:mm:ss',
                                        useCurrent: true,
                                        defaultDate: new Date(),
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="textContext">收集内容：</label>
                    <textarea class="form-control" id="textContext" rows="3" style="resize: none"></textarea>
                </div>
            </div>
            <!-- 模态框尾部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" id="btn_comm" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<!-- 截止提交模态框 -->
<div class="modal" tabindex="-1" id="inbox_endCommitModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">截止提交确认</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                是否将当前收件任务改成截止提交
            </div>
            <input type="email" class="form-control" id="endCommitInboxId" hidden="hidden"/>
            <div class="modal-footer">
                <button type="button" id="btn_endCommitConfirm" class="btn btn-primary">是</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改模态框 -->
<div class="modal" tabindex="-1" id="inbox_updateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 标题  -->
            <div class="modal-header">
                <h5 class="modal-title">修改收件信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- 模态框内容 -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="textTitle">收件主题：</label>
                    <input type="email" class="form-control" id="up_textTitle">
                </div>
                <div class="form-group">
                    <label for="textInput">输入提示：</label>
                    <input type="email" class="form-control" id="up_textInput">
                </div>
                <div class="form-group">
                    <label for="selectType">提交权限：</label>
                    <select class="form-control" id="up_selectType">
                        <option>全部用户</option>
                        <option>登陆用户</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="datetimepicker">截止时间：</label>
                    <div class="container">
                        <div class="row">
<!--                            <div class="col-sm-6">-->
                                <div class="form-group" style="width: 470px">
                                    <div class="input-group date" id="up_datetimepicker" data-target-input="nearest">
                                        <input type="text" id="up_datetimeText" class="form-control datetimepicker-input"
                                               data-target="#up_datetimepicker"/>
                                        <div class="input-group-append" data-target="#up_datetimepicker"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                            </div>-->
                            <script type="text/javascript">
                                $(function () {
                                    $('#up_datetimepicker').datetimepicker({
                                        locale: 'zh-cn',
                                        dayViewHeaderFormat: 'MMMM YYYY',
                                        format: 'YYYY-MM-DD HH:mm:ss',
                                        useCurrent: true,
                                        defaultDate: new Date(),
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="textContext">收集内容：</label>
                    <textarea class="form-control" id="up_textContext" rows="3" style="resize: none"></textarea>
                </div>
                <input type="email" class="form-control" id="up_inboxId" hidden="hidden"/>
            </div>
            <!-- 模态框尾部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" id="up_btn_comm" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<!-- 详情模态框 -->
<div class="modal" tabindex="-1" id="inbox_detailModal">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 1000px;height: 600px;">
            <div class="modal-header">
                <h5 class="modal-title">收件详情</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="detail_table" data-pagination="true" data-align="center">
                    <thead>
                    <tr>
                        <th data-field="input_fileName" data-align="center">文件名(输入名)</th>
                        <th data-field="comm_person" data-align="center">提交人</th>
                        <th data-field="ori_fileName" data-align="center">原文件名</th>
                        <th data-field="comm_date" data-align="center">提交时间</th>
                    </tr>
                    </thead>
                </table>
                <script type="text/javascript">

                </script>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_detailClose" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- shareLink模态框-->
<div class="modal fade" id="shareLink">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span class="s_title">生成链接和二维码</span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <!-- 创建成功提示 -->
                <div class="row mt-4" style="color: #06a7ff;font-size: 15px">
                    <i class="bi bi-check-circle-fill offset-md-3 offset-sm-2 mt-1"></i>
                    <span class="ml-2 pb-2">成功创建收件箱链接</span>
                </div>
                <!-- 分享链接 -->
                <div class="form-group row mt-1">
                    <label class="col-form-label col-md-2 offset-md-1 col-sm-3 mr-1 text-right">链接:</label>
                    <!--      生成链接      -->
                    <input type="text" readonly class="form-control col-md-5 col-sm-5 mt-1" style="font-size: 16px;"
                           name="sLink" value="" id="sLink">
                </div>
                <!-- 分享二维码 -->
                <div class="form-group row" style="height: 150px;">
                    <label class="col-form-label col-md-2 offset-md-1 col-sm-3 text-right mr-1 pt-5">二维码:</label>
                    <!--      生成二维码图片      -->
                    <img src="" style="height: 100%;" alt="二维码" id="sQR">
                    <span class="pt-5 ml-2" style="font-size: 12px;">将二维码分享给好友<br/>对方扫描二维码即可访问提取文件链接</span>
                </div>
                <input type="button" id="copyLink" class="btn btn-primary offset-3 col-3" style="font-size: 10px;" value="复制链接"/>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import httpUtil from "/static/httpUtil.js";
    var savePathId;

    // 单击复制链接按钮，把链接和密码拷贝到剪贴板
    $("#copyLink").click(function () {
        $("#sLink").select()
        try {
            if(document.execCommand("copy", "false", null)) {
                layer.msg("复制成功")         // layUI 自带的提示框
            }
            else {
                layer.msg("复制失败，请尝试手动复制")
            }
        }
        catch (err) {
            layer.msg("复制失败，请尝试手动复制")
        }
        window.getSelection().empty()       // 取消选中状态
    })

    $(function () {
        initTable();

        //收件箱表格初始化
        function initTable() {
            $("#s_table").bootstrapTable('destroy');
            $('#s_table').bootstrapTable({
                onPostBody: function (data) {
                    //点击截止提交按钮
                    $(".end_commit").click(function (e) {
                        var inboxId1 = e.target.getAttribute("inboxId");
                        console.log(inboxId1);
                        $("#inbox_endCommitModal").modal();
                        $("#endCommitInboxId").val(inboxId1);
                    })
                    //点击修改按钮
                    $(".update_data").click(function (e) {
                        var inboxId2 = e.target.getAttribute("inboxId");
                        var form = new FormData();
                        form.append("inboxId", inboxId2);
                        console.log(inboxId2);
                        httpUtil.post("/updateInboxInit", JSON.stringify({
                            "inboxId": inboxId2
                        })).then(res => {
                            $("#up_inboxId").val(res.data[0].inboxId);
                            $("#up_textTitle").val(res.data[0].title);
                            $("#up_textInput").val(res.data[0].inputTips);
                            $("#up_selectType").get(0).selectedIndex = res.data[0].commitType;
                            $("#up_datetimeText").val(res.data[0].endTime.replace("T", " "));
                            $("#up_textContext").val(res.data[0].content);
                        }).catch(err => {

                        })
                        $("#inbox_updateModal").modal();

                    })
                    //点击提交详情按钮
                    $(".commit_detail").click(function (e) {
                        var inboxId3 = e.target.getAttribute("inboxId");
                        console.log(inboxId3);
                        $("#inbox_detailModal").modal();
                        initDetailTable(inboxId3);
                    })
                    //点击分享链接按钮  lemon
                    $(".share_link").click(function(e){
                        $("#sLink").val("[[${siteUrl}]]"+"inboxCommit/"+e.target.getAttribute("inboxId"));
                        $("#sQR").attr("src", "/share/QRCode?url="+"[[${siteUrl}]]"+"inboxCommit/"+e.target.getAttribute("inboxId")+"&width=200&height=200")
                        $("#shareLink").modal("show");
                    })
                },
                url: "/inboxList",
                dataType: "json",//数据类型
                sidePagination: 'server',//分页方式：client客户端分页，server服务端分页（*）
                pagination: true,//是否显示分页（*）
                idField: 'inbox_id',//主键
                dataField: 'list',
                totalField: "total",
                responseHandler: function (res) {
                    console.log(res);
                    return res.data;
                },
                columns: [
                    {
                        field: 'inboxId',
                        align: 'center',
                        title: 'id',
                        visible: false
                    }, {
                        field: 'title',
                        align: 'center',
                        title: '标题',
                    }, {
                        field: 'commitCount',
                        align: 'center',
                        title: '提交人数',
                    }, {
                        field: 'savePath',
                        align: 'center',
                        title: '保存路径',
                    }, {
                        field: 'createdTime',
                        align: 'center',
                        title: '创建时间',
                        formatter: function indexFormatter(value, row, index) {//格式化获取的数据，这里判断下获取的是不是总计的这条数据，如果不是正常显示，如果是显示总计数据
                            return value.replace("T", " ");
                        }
                    }, {
                        field: 'endTime',
                        align: 'center',
                        title: '截止时间',
                        formatter: function indexFormatter(value, row, index) {//格式化获取的数据，这里判断下获取的是不是总计的这条数据，如果不是正常显示，如果是显示总计数据
                            return value.replace("T", " ");
                            // return row.date == '总计' ? '<span style="color: red;">' + value + '</span>' : value;
                        }
                    }, {
                        // field: 'endTime',
                        align: 'center',
                        title: '操作',
                        formatter: function indexFormatter(value, row, index) {//格式化获取的数据，这里判断下获取的是不是总计的这条数据，如果不是正常显示，如果是显示总计数据
                            var isEnd = row.isEnd; //判断是否过了截止时间
                            if (!isEnd) {
                                return '<button type="button" inboxId="' + row.inboxId + '"  class="btn btn-danger end_commit">截止提交</button>&nbsp;&nbsp;&nbsp;' +
                                    '<button type="button" inboxId="' + row.inboxId + '" class="btn btn-primary update_data">修改</button>&nbsp;&nbsp;&nbsp;' +
                                    '<button type="button" inboxId="' + row.inboxId + '" class="btn btn-info commit_detail">提交详情</button>&nbsp;&nbsp;&nbsp;'+
                                    '<button type="button" inboxId="' + row.inboxId + '" class="btn btn-light share_link">收集链接</button>';
                            } else {
                                return '<button type="button" inboxId="' + row.inboxId + '" class="btn btn-primary update_data">修改</button>&nbsp;&nbsp;&nbsp;' +
                                    '<button type="button" inboxId="' + row.inboxId + '" class="btn btn-info commit_detail">提交详情</button>&nbsp;&nbsp;&nbsp;'+
                                    '<button type="button" inboxId="' + row.inboxId + '" class="btn btn-light share_link">收集链接</button>';
                            }

                            // return row.date == '总计' ? '<span style="color: red;">' + value + '</span>' : value;
                        }
                    }
                    // , {
                    //     field: 'newRechargeCount',
                    //     align: 'center',
                    //     title: '新增充值用户数',
                    //     formatter: function indexFormatter(value, row, index) {
                    //         if (row.date != '总计') {
                    //             return row.date == '总计' ? '<span style="color: red;">' + row.newRechargeCount + '</span>' : row.newRechargeCount;
                    //         } else {
                    //             return row.date == '总计' ? '<span style="color: red;">' + row.newRechargeCount1 + '</span>' : row.newRechargeCount1;
                    //         }
                    //     }

                ],
                pageSize: 10,//首页显示多少行数据
                pageList: [10, 15, 20],
                queryParams: function (params) {//发送请求的参数
                    //layer.load();//layui前端框架里的，当数据没有加载完，会出现等待图标，加载完消失
                    return {
                        //key: $('#templateKey').val(),
                        pageNum: params.offset / params.limit + 1,//页码
                        pageSize: params.limit, //页面大小
                        // startDate: start_time,
                        // endDate: end_time,
                        // agents: agent,
                        // qbsources: qbsource
                    };
                },
                // responseHandler: $util.fn.table.response,
                // onLoadSuccess: $util.fn.table.onLoadSuccess,
                // onLoadError: $util.fn.table.onLoadError,
                onClickRow: function (row, $element) {//给表格添加斑马效果
                    $element.siblings().css('background-color', 'white');
                    $element.css("background-color", "rgb(243, 247, 249)");
                }
            })
        }

        //收件详情表格初始化
        function initDetailTable(recordId) {
            $("#detail_table").bootstrapTable('destroy');
            $('#detail_table').bootstrapTable({
                url: "/receiveRecordList?recordId=" + recordId,
                dataType: "json",//数据类型
                sidePagination: 'server',//分页方式：client客户端分页，server服务端分页（*）
                pagination: true,//是否显示分页（*）
                idField: 'receiving_id',//主键
                dataField: 'list',
                totalField: "total",
                responseHandler: function (res) {
                    console.log(res);
                    return res.data;
                },
                columns: [
                    {
                        field: 'receivingId',
                        align: 'center',
                        title: '收件ID',
                        visible: false
                    },
                    {
                        field: 'inputName',
                        align: 'center',
                        title: '文件名(输入名)',
                    }, {
                        field: 'userName',
                        align: 'center',
                        title: '提交人',
                    }, {
                        field: 'commitFileName',
                        align: 'center',
                        title: '原文件名',
                    }, {
                        field: 'createdTime',
                        align: 'center',
                        title: '提交时间',
                        formatter: function indexFormatter(value, row, index) {//格式化获取的数据，这里判断下获取的是不是总计的这条数据，如果不是正常显示，如果是显示总计数据
                            // console.log(value)
                            // console.log(row)
                            // console.log(index)
                            return value.replace("T", " ");
                        }
                    },
                ],
                pageSize: 5,//首页显示多少行数据
                pageList: [5, 8, 10],
                queryParams: function (params) {//发送请求的参数
                    return {
                        //key: $('#templateKey').val(),
                        pageNum: params.offset / params.limit + 1,//页码
                        pageSize: params.limit, //页面大小
                        // startDate: start_time,
                        // endDate: end_time,
                        // agents: agent,
                        // qbsources: qbsource
                    };
                },
                onClickRow: function (row, $element) {//给表格添加斑马效果
                    $element.siblings().css('background-color', 'white');
                    $element.css("background-color", "rgb(243, 247, 249)");
                }
            })
        }

        //保存路径选择
        $("#btnPath").click(function () {
            $("#inbox_newModal").modal('hide');
            $.fn.selectDirForUser.show();
        })
        //路径选择模态框确认按钮
        $.fn.selectDirForUser.ok(function(a,b){
            console.log("ok.function()");
            console.log(a);
            console.log(b);
            savePathId=a;
            $("#savePath").val(b);
            $("#inbox_newModal").modal();
        })
        //路径选择模态框取消按钮
        $.fn.selectDirForUser.close(function(){
            $("#inbox_newModal").modal();
        })

        //点击新建按钮弹出新建收件模态框
        $("#btn_new").click(function () {
            $("#inbox_newModal").modal();
        });

        //点击新建收件箱模态框“提交”按钮
        $("#btn_comm").click(function () {
            var title = $("#textTitle").val().trim(); //标题
            var inputTips = $("#textInput").val().trim(); //输入提示
            var commitType = $("#selectType").get(0).selectedIndex; //提交权限：0 全部用户；1 登陆用户
            var savePath=$("#savePath").val().trim(); //保存路径
            var endTime = $("#datetimeText").val().trim(); //截止时间
            var content = $("#textContext").val().trim(); //收集内容

            if (title == "") {
                layer.msg("收件主题不能为空！");
                return;
            }
            if (inputTips == "") {
                layer.msg("输入提示不能为空！");
                return;
            }
            if (savePath == "") {
                layer.msg("保存路径不能为空！");
                return;
            }
            if (endTime == "") {
                layer.msg("截止时间不能为空！");
                return;
            }
            if (content == "") {
                layer.msg("收件内容不能为空！");
                return;
            }
            httpUtil.post("/newInboxTask", JSON.stringify({
                "title": title,
                "inputTips": inputTips,
                "commitType": commitType,
                "savePathId": savePathId,
                "savePath": savePath,
                "endTime": endTime,
                "content": content,
            })).then(res => {
                initTable();
                $("#sLink").val("[[${siteUrl}]]"+"inboxCommit/"+res.data);
                $("#sQR").attr("src", "/share/QRCode?url="+"[[${siteUrl}]]"+"inboxCommit/"+res.data+"&width=200&height=200")
                $("#shareLink").modal("show");
            }).catch(err => {

            })
            $("#inbox_newModal").modal('hide');
            $("#textTitle").val("");
            $("#textInput").val("");
            $("#textContext").val("");
        })

        //点击截止提交按钮的“是”按钮
        $("#btn_endCommitConfirm").click(function () {
            var inboxId = $("#endCommitInboxId").val();
            httpUtil.post("/endCommit", JSON.stringify({
                "inboxId": inboxId,
            })).then(res => {
                initTable();
            }).catch(err => {

            })
            $("#inbox_endCommitModal").modal('hide');
        })

        //点击修改模态框的“提交”按钮
        $("#up_btn_comm").click(function () {
            var inboxId = $("#up_inboxId").val().trim(); //inboxId
            var title = $("#up_textTitle").val().trim(); //标题
            var inputTips = $("#up_textInput").val().trim(); //输入提示
            var endTime = $("#up_datetimeText").val().trim(); //截止时间
            var content = $("#up_textContext").val().trim(); //内容
            var commitType = $("#up_selectType").get(0).selectedIndex; //用户类型：0 全部用户；1 登陆用户
            if (title == "") {
                layer.msg("收件主题不能为空！");
                return;
            }
            if (inputTips == "") {
                layer.msg("输入提示不能为空！");
                return;
            }
            if (endTime == "") {
                layer.msg("截止时间不能为空！");
                return;
            }
            if (content == "") {
                layer.msg("收件内容不能为空！");
                return;
            }
            httpUtil.post("/updateInboxTask", JSON.stringify({
                "inboxId": inboxId,
                "title": title,
                "inputTips": inputTips,
                "endTime": endTime,
                "content": content,
                "commitType": commitType
            })).then(res => {
                initTable();
            }).catch(err => {

            })
            $("#inbox_updateModal").modal('hide');
        })

    });

</script>
</body>
</html>

