<!DOCTYPE>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="static/popper/popper.min.js"></script>
    <th:block th:include="common/header :: header(~{::title})">
        <title>瀚海云盘</title>
    </th:block>

    <script src="//at.alicdn.com/t/font_2539461_jy6ayp1p7wh.js"></script>
    <script src="/static/iconfont/iconfont.js"></script>
    <style type="text/css">
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }

        .actions {
            padding-top: 10px;
            justify-content: left;
        }

        .dropdown-item {
            font-size: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .actions button {
            margin-right: 10px;
            margin-left: 5px;
        }

        .statistical {
            margin-right: 5px;
        }

        table {
            font-size: 1.2rem;
            margin-left: 0px;
        }

        .files i {
            display: none;
            cursor: pointer;
            padding: 5px;
            border-radius: 50%;
        }

        .files i:hover {
            background-color: #7abaff;
            color: white;
        }

        tr:hover > td > i {
            display: inline-block;
            margin-right: 30px;
            /*display: flex;*/
        }
        td{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        tbody tr:hover {
            background-color: rgb(244, 251, 255);
        }

        .files {
            line-height: 2rem;
        }

        table {
            margin-top: 5px;
            width: 100%;
            display: table;
        }

        .btn-outline-primary {
            color: #000000;
            border-color: #007bff;
        }

        .icon {
            width: 2em;
            height: 2em;
        }

        .translation {
            font-size: 1.5rem;
            margin-left: 5px;
        }

        .btn-lg, .btn-group-lg > .btn {
            border-radius: 1.3rem;
        }
    </style>
</head>
<body  class="drawer drawer--right">
<div th:replace="common/nav-header :: nav-header"></div>

<!--选择目录模态框-->
<div th:replace="common/selectDir :: selectDir"></div>
<div class="main">
    <div th:replace="common/nav-left :: nav-left"></div>

    <div class="content"   style="overflow: hidden;margin-right: 1%">
        <div class="row  navbar bg-light  actions">
            <i class="bi bi-megaphone"></i><a class="translation">提示：文件保存30天后将被自动清除!!!</a>
            <form class="form-inline ml-auto ">
                <button type="button" class="btn btn btn-danger btn-lg" id="deletedAll">
                    <span class="bi bi-trash2-fill"></span>&nbsp;清空回收站
                </button>
            </form>
        </div>
        <div class="row navbar navbar-light bg-light" style="margin-top: 5px;">
            <a>回收站</a>
            <button type="button" class="btn btn btn-primary btn-lg" id="reduction" style="margin-left: -80%" disabled="disabled">
                <span class="bi bi bi-arrow-repeat"></span>&nbsp;还原
            </button>
            <span class="statistical" id="counttext"></span>
        </div>
        <div class="row" id="filesTable">
            <table class="table   files" style="background-color: white">
                <thead style="display:block;">
                <tr class="success">
                    <td><input type="checkbox" name="all" style="margin-top: 5px"/></td>
                    <th>文件名</th>
                    <th></th>
                    <th>文件类型</th>
                    <th>删除时间</th>
                    <th>到期时间</th>
                </tr>
                </thead>
                <tbody style="display: block; height:680px;overflow-y: scroll;">
                <tr th:each="file : ${files}" class="files" style="display: flex" th:recycleFileId="${file.getRecycleId()}">
                    <td>
                        <input type="checkbox" name="num" style="margin-top: 5px" th:recycleFileId="${file.getRecycleId()}"/></td>
                    <td>
                        <svg class="icon" aria-hidden="true">
                            <use th:href="${'#icon-'+#strings.toLowerCase(file.getFileType())}"></use>
                        </svg>
                        <span th:title="${file.getFileName()}" th:text="${file.getFileName()}"></span></td>
                    <td class="action" style="color: #007bff">
                        <i class="bi bi-trash delete-action" title="删除"  th:recycleFileId="${file.getRecycleId()}"></i>
                        <i class="bi bi bi-arrow-repeat reducing-action" title="还原" id="reducing" th:recycleFileId="${file.getRecycleId()}"></i>
                    </td>
                    <td th:text="${file.getFileType()}"></td>
                    <td th:text="${file.getCreatedTime()}"></td>
                    <td th:text="${file.getExpireDate()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--&lt;!&ndash; 确认删除模态框 &ndash;&gt;-->
<!--<div class="modal" id="deletePermanently">-->
<!--    <div class="modal-dialog modal-sm">-->
<!--        <div class="modal-content">-->

<!--            &lt;!&ndash; 模态框头部 &ndash;&gt;-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">确认删除</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--            </div>-->

<!--            &lt;!&ndash; 模态框主体 &ndash;&gt;-->
<!--            <div class="modal-body">-->
<!--                <div class="row form-inline">-->
<!--                    <label class="col-form-label" Style="text-align: center;">确认要把所选文件永久删除吗?</label>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; 模态框底部 &ndash;&gt;-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-primary addConfirm" id="confirmDelPermanently">确定</button>-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; 确认清空回收站模态框 &ndash;&gt;-->
<!--<div class="modal" id="deleteAllPermanently">-->
<!--    <div class="modal-dialog modal-sm">-->
<!--        <div class="modal-content">-->

<!--            &lt;!&ndash; 模态框头部 &ndash;&gt;-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">确认清空回收站</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--            </div>-->

<!--            &lt;!&ndash; 模态框主体 &ndash;&gt;-->
<!--            <div class="modal-body">-->
<!--                <div class="row form-inline">-->
<!--                    <label class="col-form-label" Style="text-align: center;">确认要把回收站清空吗?</label>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; 模态框底部 &ndash;&gt;-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-primary addConfirm" id="confirmDelAllPermanently">确定</button>-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>
<script type="module">

    import httpUtil from "/static/httpUtil.js";
    let currentId=undefined;
    let sign='reduction'

    var allDom = document.getElementsByName("all")[0];  //找到全选框
    var numDoms = document.getElementsByName("num");

    // $(".delete-action").click(function (e){
    //     // console.log(e)
    //     currentId=e.target.getAttribute("recycleFileId");
    //     // console.log(currentId)
    //     $("#deletePermanently").modal("show");
    // })
    $(".delete-action").click(function (e){
        currentId=e.target.getAttribute("recycleFileId");
        layer.confirm('是否确认删除？',{
            btn:['确认','取消']//按钮
        },function(){
            httpUtil.delete("/recycle/"+currentId).then(res=>{
                location.reload();
            }).catch(e =>{
                layer.msg("删除失败，请稍后重试！");
            })
        },function(){
            layer.closeAll();
        });
    })

    $("#deletedAll").click(function(){
        layer.confirm('是否确认清空回收站？',{
            btn:['确认','取消']//
        },function(){
            httpUtil.post("/recycle/deletedAll")
                .then(res=>{
                    location.reload();
                })
        },function(){
            layer.closeAll();
        });
    })


    function initCols() {                 //页面加载完成后执行事件
        $("#counttext").text("已全部加载，共" + numDoms.length + "个");
        let _width = $('#filesTable').width();
        $('#filesTable th:first-child').width(_width * 0.01);//复选框
        $('#filesTable td:first-child').width(_width * 0.01);

        $('#filesTable th:nth-child(2)').width(_width * 0.15);//文件名
        $('#filesTable td:nth-child(2)').width(_width * 0.15);

        $('#filesTable th:nth-child(3)').width(_width * 0.24);//两个个按钮
        $('#filesTable td:nth-child(3)').width(_width * 0.24);

        $('#filesTable th:nth-child(4)').width(_width * 0.19);//文件大小
        $('#filesTable td:nth-child(4)').width(_width * 0.19);

        $('#filesTable th:nth-child(5)').width(_width * 0.2);//删除时间
        $('#filesTable td:nth-child(5)').width(_width * 0.2);

        $('#filesTable th:nth-child(6)').width(_width * 0.2);//距离到期时间的天数
        $('#filesTable td:nth-child(6)').width(_width * 0.2);


        $("#reduction").click(function(){
            sign='reduction'
            $.fn.selectDirForUser.show()
        })

        $(".reducing-action").click(function (e){
            // console.log(e)
            currentId=e.target.getAttribute("recycleFileId");
            // console.log(currentId)
            sign="reducing"
            $.fn.selectDirForUser.show()
        })

        $.fn.selectDirForUser.ok(function(a,b){
            if (sign=="reduction"){
                let checkedBox =$("input[name='num']:checked");
                if(checkedBox.length===0){
                    layer.msg("请选择要操作的文件");
                    return;
                }
                let ids = [];
                for(let i =0 ;i<checkedBox.length;i++){
                    if( checkedBox[i].getAttribute("recycleFileId"))
                        ids.push(checkedBox[i].getAttribute("recycleFileId"))
                }
                httpUtil.post("/recycle/reduction",JSON.stringify({
                    ids:ids,
                    target:a
                })).then(res=>{
                    // location.reload()
                    // $('#filesTable').bootstrapTable('refresh');
                })
            }else{
                httpUtil.post("/recycle/reducing",JSON.stringify({
                    id:currentId,
                    target:a
                })).then(res=>{
                    // location.reload();
                    // $('#filesTable').bootstrapTable('refresh');
                })
            }
            location.reload()
            $('#filesTable').bootstrapTable('refresh');
        })
    }


    $(function(){
        allDom.onclick = function () {   //定义一个全选框的点击函数
            if (this.checked) {                 //判断全选框是否选中,如果返回值为true代表选中
                $("#reduction")[0].removeAttribute("disabled");
                for (var i = 0; i < numDoms.length; i++) {   //使用for循环选中列表框
                    numDoms[i].checked = true;
                }
            } else {
                $("#reduction")[0].setAttribute("disabled", "disabled");
                //如果返回值为false代表未选中
                for (var i = 0; i < numDoms.length; i++) {  //使用for循环取消列表框的选中状态
                    numDoms[i].checked = false;
                }
            }
        }
        $("[name=num]").click(function () {
            let selectLength = $("input[name='num']:checked").length;

            if (selectLength === 0) {
                $("#reduction")[0].setAttribute("disabled", "disabled");
            } else {
                $("#reduction")[0].removeAttribute("disabled");
            }
            if (selectLength === numDoms.length) {
                allDom.checked = true;
            } else {
                allDom.checked = false;
            }
            initCols()
        });

        // $("#confirmDelAllPermanently").click(function(){
        //     // console.log(123)
        //     httpUtil.post("/recycle/deletedAll")
        //         .then(res=>{
        //             location.reload();
        //     })
        // })


        // $("#confirmDelPermanently").click(function(){
        //     // console.log(currentId)
        //     httpUtil.delete("/recycle/"+currentId).then(res=>{
        //         location.reload();
        //     }).catch(e =>{
        //         layer.msg("请求失败");
        //     })
        // })

        initCols();
    })


</script>