<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 引入popper.js	-->
	<script src="/static/popper/popper.min.js"></script>

	<th:block th:include="common/header :: header(~{::title})">
		<title>资源搜索</title>
	</th:block>

	<!-- 引入bootstrap-table.css	-->
	<link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.min.css">
	<!--	引入bootstrap-table.js -->
	<script src="/static/bootstrap-table/bootstrap-table.min.js"></script>
	<!--	引入bootstrap-table中文包 -->
	<script src="/static/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

	<style>
    body {
      background-color: #efefef;
      min-width: 1400px;
      margin: 0px auto;
      padding: 0px 0px;
      overflow: hidden;
    }

    .rMain {
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #fff;
      overflow: auto;
    }

    /*搜索框拉满*/
    .rMain .search {
      width: 90%;
    }

    #rTable tbody i {
      color: #1296db;
      cursor: pointer;
    }

    #rTable tbody tr:hover {
      background-color: rgba(18, 150, 219, .15);
    }

    #rTable tbody .rUpload {
      font-size: 26px;
      margin-right: 20px;
    }

    #rTable tbody .rDownload {
      /*display: none;*/
      font-size: 23px;
    }
	</style>

	<script>
      $(function(){
          // 调用函数，初始化表格
          initTable();
          // 自定义搜索框，进行搜索
          $("#queryBtn").on("click", initTable);
          // 搜索框回车，进行搜索
		      $("#searchFile").on("keypress", function(e) {
		          if(e.keyCode == 13 ) {
                  initTable()
              }
		      })

		      // 初始化表格
          function initTable() {
              // 先销毁表格
              $('#rTable').bootstrapTable('destroy');
              $('#rTable').bootstrapTable({
                  url: "/resource/resourceGet",   //请求后台的URL（*）
                  method: 'get',
                  dataField: 'list',              // 设置数据域
                  totalField: "total",            // 纪录总数
                  pagination: true,               // 设置为 true 会在表格底部显示分页条。
                  sidePagination: 'server',       //分页方式：client客户端分页，server服务端分页（*）
                  pageList: [10, 20, 30, 40],     // 可供选择的每页的行数（*），当记录条数大于最小可选择条数时才会出现
                  data_local: "zh-US",            // 表格汉化
                  classes: 'table',               // 表格 样式类
                  height: 550,                    // 表格高度
                  queryParams: function (params) {  // 查询 和 请求响应
                      return {
                          fileName: $("#searchFile").val(),
                          pageNum: params.offset / params.limit + 1,  //页码
                          pageSize: params.limit,                     //页面大小
                      };
                  },
                  responseHandler: function (res) {
		                  // 设置 数据对象
                      return res.data;
                  },
                  columns: [{
											field: "shareId",
		                  title: "分享id",
		                  align: "center",
		                  visible: false
                  },
                  {
                      field: 'fileName',
                      title: '文件名',
                      align: 'center',
                  },
                  {
                      field: 'userName',
                      title: '分享人',
                      align: 'center',
                  },
                  {
                      field: 'createdTime',
                      title: '分享时间',
                      align: 'center',
                      formatter: function indexFormatter(value, row, index) {
                          return value.replace("T"," ");
                      }
                  },
                  {
                      field: 'expireTime',
                      title: '过期时间',
                      align: 'center',
                      formatter: function dateFormatter(value, row, index) {
													value = value.replace("T", " ")
                          return value=='1970-01-01 07:59:59'?"永久":value
                      }
                  },
                  {
                      field: 'operation',
                      title: '转存/下载',
                      align: 'center',
                      formatter: function operationFormatter(value, row, index) {
		                      let isLogin = [[${isLogin}]]
		                      value = ""
		                      if(isLogin) {
		                          if(row.downloadAllow) {
		                              value += "<i class=\"bi bi-box-arrow-in-right rUpload\"></i>"
		                          }else {
		                              value += "<i class=\"bi bi-box-arrow-in-right rUpload\" style='cursor:default; color: #ccc;'></i>"
		                          }
		                          if(row.fileDumpAllow) {
		                              value += "<i class=\"bi bi bi-download rDownload\"></i>"
		                          }else {
		                              value += "<i class=\"bi bi bi-download rDownload\" style='cursor:default; color: #ccc;'></i>"
		                          }
				                      return value
		                      }
		                      else {
		                          return "<i class=\"bi bi bi-download rDownload\"></i>"
		                      }
                      }
                  },],
              })
          }
      });
	</script>
</head>
<body>
<div th:replace="common/nav-header :: nav-header"></div>
<div class="row" style="margin-top:8px;">

	<div class="rMain container shadow">
		<!--	自定义搜索框	-->
		<div class=".rSearch">
			<div class="panel-body pt-3 pb-3">
<!--				<form class="form-horizontal">-->
					<div class="form-group row pb-0 m-2">
						<div class="col-11 pr-0">
							<!-- 自定义搜索框 -->
							<input type="text" id="searchFile"
							       class="form-control" placeholder="文件名"/>
						</div>
						<div class="col-sm-1 pl-0">
							<button type="button" class="btn btn-primary btn-w-m" id="queryBtn">
								<i class="bi bi-search"></i>
							</button>
						</div>
					</div>
<!--				</form>-->
			</div>
		</div>

		<table id="rTable">
			<thead>
			</thead>
		</table>
	</div>

</div>
</div>
</body>
</html>