<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:input="http://www.w3.org/1999/html">

<head>
	<!-- 引入 popper.js(bootstrap-table需要)	-->
	<script src="/static/popper/popper.min.js"></script>

	<th:block th:include="common/header :: header(~{::title})">
		<title>分享纪录</title>
	</th:block>


	<!-- drawer.css -->
	<link rel="stylesheet" href="/static/drawer/drawer.min.css">
	<!-- iScroll.js -->
	<script src="/static/iScroll/iscroll.js"></script>
	<!-- drawer.js -->
	<script src="/static/drawer/drawer.min.js"></script>

	<!-- 引入bootstrap-table.css	-->
	<link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.min.css">
	<!--	引入bootstrap-table.js -->
	<script src="/static/bootstrap-table/bootstrap-table.min.js"></script>
	<!--	引入bootstrap-table中文包 -->
	<script src="/static/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>

	<!--  引入bootstrap-switch  -->
	<link rel="stylesheet" href="/static/bootstrap-switch/bootstrap-switch.min.css">
	<script src="/static/bootstrap-switch/bootstrap-switch.min.js"></script>


	<style>

    /*body {*/
    /*  background-color: #efefef;*/
    /*  min-width: 1400px;*/
    /*  margin: 0px auto;*/
    /*  padding: 0px 0px;*/
    /*  overflow: hidden;*/
    /*}*/

    .rMain {
      width: 84%;
      margin-left: 2%;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
	    font-size: 1.5rem;
      background-color: #fff;
    }

    .detailIcon {
      font-size: 20px;
      cursor: pointer;
    }

    .rMain nav li {
      list-style: none;
    }

    .rMain nav .sInfo {
      margin-left: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      /*color: rgb(21,151,219);*/
    }

    .drawer-nav>ul>li {
      margin-top: 10px;
    }

    .drawer-nav li .bi {
      margin-top: -5px;
      padding-left: 5px;
	    font-size: 20px;
      color: #5a6268;
      cursor: pointer;
    }

    .drawer-nav li .bi-eye-fill {
      color: #1296db;
    }

    #sTable tbody tr:hover {
      background-color: rgba(18, 150, 219, .15);
    }

    .col-drawer {
	    width: 400px;
    }

    .icon {
      width: 4em;
      height: 4em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
    .icon_table {
      width: 1.5em;
      height: 1.5em;
      margin-right: 10px;
      margin-left: 20%;
      vertical-align: -0.4em;
      fill: currentColor;
      overflow: hidden;
    }

    .bootstrap-switch .bootstrap-switch-handle-on,
    .bootstrap-switch .bootstrap-switch-handle-off{
      padding: 0 10px;
		}
	</style>

	<script type="module">

      import httpUtil from "../static/httpUtil.js";
      let failConfirm = false   // 是否 确认链接失效
      let closeShareSwitch      // 关闭哪个分享

      $(function() {

          // 调用函数，初始化表格
          initTable();
          // 抽屉(必须先创建元素，再绑定事件）
          $('.drawer').drawer();

          // 自定义搜索框，进行搜索
          $("#queryBtn").on("click", initTable);        // 回车搜索
          $("#searchFile").on("keypress", function(e){
              if(e.keyCode == 13) {
                  initTable()
              }
          })

					// 初始化表格
          function initTable() {
              $('#sTable').bootstrapTable('destroy');   // 先销毁表格
              $('#sTable').bootstrapTable({
                  url: "/share/shareGet",               //请求后台的URL（*）
                  method: 'get',
                  dataField: 'list',
                  totalField: 'total',
                  pagination: true,                 // 设置为 true 会在表格底部显示分页条。
                  pageList: [10, 20, 30, 40],       // 可供选择的每页的行数（*），当记录条数大于最小可选择条数时才会出现
		              sidePagination: 'server',         // 分页处理方式
                  data_local: "zh-US",              // 表格汉化
                  classes: 'table',                 // 表格 样式类
                  height: 720,                      // 表格高度

                  queryParams: function (params) {       // 查询 和 请求响应
                      return {
                          pageNum: params.offset / params.limit + 1,  // 当前页码
                          pageSize: params.limit,
		                      fileName: $("#searchFile").val()
                      };
                  },
                  responseHandler: function (res) {
                      console.log(res)
                      return res.data;
                  },
		              columns: [
		                  {
		                      field: 'shareId',
		                      title: '分享id',
		                      align: 'center',
				                  visible: false
		                  },
				              {
													field: 'fileName',
						              title: '文件名',
                          halign: "center",
						              align: 'left',
                          formatter: function fileNameFormatter(value, row, index) {
                              return "<svg fileType=" + row.fileType + " class='icon_table' aria-hidden='true'>" +
                                  "<use xlink:href='#icon-" + row.fileType.toLowerCase() + "'></use>" +
                                  "</svg>" + value
                          }
			                },
				              {
						              field: "createdTime",
						              title: "分享时间",
						              align: 'center',
						              formatter: dateFormatter
				              },
				              {
		                      field: 'expireTime',
						              title: '失效时间',
						              align: 'center',
						              sortable: true,
                          formatter: function (value, row, index) {
		                          value = value.replace("T", " ")
		                          if(value == "1970-01-01 07:59:59")
		                              return "永久"
		                          else
		                              return value
                          }
				              },
				              {
		                      field: 'status',
				                  title: '状态',
													align: 'center',
						              // sortable: true,
						              formatter: function(value, row, index) {
                              if(value)
			                          return '<input type="checkbox" name="sStatus" id="switch" shareId="' +
					                          row.shareId + '" checked>'
								              else
			                          return '<input type="checkbox" name="sStatus" shareId="' +
	                              row.shareId + '" disabled>'
						              }
				              },
				              {
				                  title: "查看详情",
						              align: 'center',
						              formatter: function(value, row, index) {
				                      return "<i class='bi bi-three-dots detailIcon drawer-toggle'" +
						                            "shareId='"+ row.shareId +"' ></i>"
						              }
				              }
		              ],
		              // 渲染好表格数据后 函数
		              onPostBody: function() {
                      // 详情图标
                      $(".detailIcon").click(function(){

                          // 固定模式，显示的内容隐藏
                          $("#shareMumbers").hide()
                          $("#sHavePwd").hide()
                          $("#sHaveCode").hide()

                          // 获取数据
		                      httpUtil.get("/share/shareDetail",{
		                          params: {
		                              shareId: $(this).attr("shareId")
		                          }
		                      })
		                      .then(res => {
		                          // 密码显示 初始化
                              $(".pwdShow").hide()
                              $(".codeShow").hide()
				                      $(".pwdHide").show()
				                      $(".codeHide").show()
				                      $("#sPwd").attr("type", "password")
				                      $("#sCode").attr("type", "password")
                              $("#sQR").attr("src", "")
                              // 文件类型图片
		                          $("#sFileType use").attr("xlink:href",  '#icon-'+res.data.fileType.toLowerCase())
				                      // 文件名
		                          $("#sFileName").text(res.data.fileName)
				                      // 分享类型
				                      $("#sType").text(res.data.shareType)
				                      // 固定人/群组 分享
				                      if(res.data.shareType=="私有分享") {
				                          $("#shareList").html("")
				                          $("#shareMumbers").show()
				                          for(let group of res.data.shareMumbersVO.groupName){
                                      console.log(group)
				                              $("#shareList").append("<li title='"+ group +"'>" +
						                                                      "<i class=\"bi bi-people-fill\"></i> "+ group +
						                                                "</li>")
				                          }
                                  for(let user of res.data.shareMumbersVO.userName){
                                      console.log(user)
                                      $("#shareList").append("<li title='"+ user +"'>" +
									                                                "<i class=\"bi bi-person-fill\"></i> "+ user +
									                                            "</li>")
                                  }
				                      }

				                      // 密码分享
				                      if(res.data.shareType == "密码分享") {
                                  $("#sPwd").val("")
				                          $("#sHavePwd").show()
						                      $("#sPwd").val(res.data.sharePassword)
				                      }
				                      // 取件码分享
				                      if(res.data.shareType == "访问码分享") {
				                          $("#sCode").val("")
						                      $("#sHaveCode").show()
						                      $("#sCode").val(res.data.shareId)
						                      // 不显示分享链接、二维码、转存次数、复制分享链接
                                  $("#sHaveLink").hide()
                                  $("#sHaveQR").hide()
						                      $("#sHaveDump").hide()
						                      $("#copyShareUrl").hide()
						                      // 下载次数
                                  $("#sDownTime").text(res.data.downloadTimes)
                                  if(res.data.maxDownloadTimes == -1) {
                                      $("#sMaxDownTime").text("不限")
                                  }
                                  else{
                                      $("#sMaxDownTime").text(res.data.maxDownloadTimes)
                                  }
				                      }
				                      else {
						                      // 分享链接
                                  $("#sHaveLink").show()
						                      $("#sUrl").val(res.data.shareUrl)
						                      // 复制到剪贴板按钮
                                  $("#copyShareUrl").show()
                                  // 二维码
                                  $("#sQR").attr("src", "/share/QRCode?url="+$("#sUrl").val())
                                  $("#sHaveQR").show()
                                  // 下载/转存次数
                                  $("#sHaveDump").show()
                                  $("#sFileDumpTime").text(res.data.fileDumpTime)
                                  if(res.data.maxFileDumpTimes == -1) {
                                      $("#sMaxFileDumpTime").text("不限")
                                  }
                                  else{
                                      $("#sMaxFileDumpTime").text(res.data.maxFileDumpTimes)
                                  }
                                  $("#sDownTime").text(res.data.downloadTimes)
                                  if(res.data.maxDownloadTimes == -1) {
                                      $("#sMaxDownTime").text("不限")
                                  }
                                  else{
                                      $("#sMaxDownTime").text(res.data.maxDownloadTimes)
                                  }
                              }

                              // 文件详细抽屉显示(并增加宽度)
                              $(".drawer").drawer("open")
                              $(".drawer-nav").addClass("col-drawer")

				                      $("#copyShareUrl").click(function () {
				                          $("#sUrl").select()
						                      try {
																			if(document.execCommand("copy", "false", null)) {
																			    layer.msg("复制成功")         // layUI 自带的提示框
								                      }
																			else {
																			    layer.msg("复制失败，请尝试手动复制")
																			}
						                      }
						                      catch (err) {
                                      layer.msg("复制失败，请尝试手动复制")
						                      }
                                  window.getSelection().empty()       // 取消选中状态
                              })
		                      })

                      })
				              // 单击遮罩层，关闭文件详情(并减少宽度)
				              $(".drawer-overlay").click(function() {
                          $(".drawer-nav").removeClass("col-drawer")
				                  $(".drawer").drawer("close")
				              })
											// 调整窗体大小时，移除添加的宽度
                      $(window).resize(function() {
                          $(".drawer-nav").removeClass("col-drawer")
                      });
                      // 分享链接 状态开关
                      $("#sTable input[name='sStatus']").bootstrapSwitch({
                          onText: "有效",
                          offText: "失效",
                          animate: false,
                      });
                      // 状态框失效确认
                      $("#sTable input[name='sStatus']").on("switchChange.bootstrapSwitch", function(event, state){
                          if(state == false) {
                              if(!failConfirm){
                                  closeShareSwitch = $(this)
                                  $(this).bootstrapSwitch("toggleState");  // 转换回原状态
                                  $("#shareFailModal").modal("show")
                              }else {
                                  httpUtil.put("/share/closeShare/"+$(this).attr("shareId"))
		                                  .then(res =>{
                                          initTable()
                                          failConfirm = false         // 设置回 不确定默认值
                                  })
                              }
                          }
                      })
                      // 获取确认状态
                      $("#shareFailConfirm").click(function() {
                          failConfirm = true
                          $("#shareFailModal").modal("hide")
                          closeShareSwitch.bootstrapSwitch("toggleState");
                      })
                  }

              })
          }

          // 日期处理函数
		      function dateFormatter(value) {
		          return value.replace("T", " ")
		      }

          $(".pwdShow").hide()
		      $(".codeShow").hide()
          // 密码显示
					$(".pwdHide").click(function(){
            $("#sPwd").attr("type", "text");
            $(".pwdShow").show();
            $(this).hide();
					})
		      $(".codeHide").click(function() {
		          $("#sCode").attr("type", "text")
				      $(".codeShow").show()
				      $(this).hide()
		      })
		      // 密码隐藏
          $(".pwdShow").click(function(){
              $("#sPwd").attr("type", "password");
              $(".pwdHide").show();
              $(this).hide();
          })
          $(".codeShow").click(function(){
              $("#sCode").attr("type", "password");
              $(".codeHide").show();
              $(this).hide();
          })
      });
	</script>
</head>
<body >
<!--页头-->
<div th:replace="common/nav-header :: nav-header"></div>

<!--<div class="row" style="margin-top:8px;">-->
<!--	<div th:replace="common/nav-left :: nav-left"></div>-->
<!--	<div class="rMain drawer drawer&#45;&#45;right shadow">-->

<div class="main">
	<div th:replace="common/nav-left :: nav-left"></div>
	<div class="content rMain drawer drawer--right shadow"
	     style="overflow: hidden;margin-right: 1%; margin-left: 0.5%;padding-bottom: 10px;">

		<!--	自定义搜索框	-->
		<div class=".sSearch">
			<div class="panel-body" style="padding-bottom: 1px;">
					<div class="form-group row pb-0 m-2">
						<div class="col-3 pr-0">
							<!-- 自定义搜索框 -->
							<input type="text" id="searchFile" class="form-control" placeholder="文件名"/>
						</div>
						<div class="col-sm-1 pl-0">
							<button type="button" class="btn btn-primary btn-w-m" id="queryBtn">
								<i class="bi bi-search"></i>
							</button>
						</div>
					</div>
			</div>
		</div>

		<!--	ShareTable	-->
		<table id="sTable"></table>

		<!--	ShareDetails	-->
		<nav class="drawer-nav" role="navigation" style="z-index: 20;">
			<ul class="pl-0">
				<li class="text-center" style="width: 100%">
					<svg id="sFileType" class="icon" aria-hidden="true">
						<use xlink:href=""></use>
					</svg>
				</li>
				<li class="row">
					<span class="offset-2"></span>
					<span class="sInfo col-8 p-0 pr-2 text-center" title="" id="sFileName"></span>
				</li>
				<hr>
				<li class="row">
					<span class="col-5 text-right">分享方式:</span>
					<span class="sInfo col-6 p-0 pr-2" id="sType">内部分享</span>
				</li>
				<!--	分享人应该可以 加/删	-->
				<li class="row" id="shareMumbers">
					<span class="col-5 text-right">分享人:</span>
					<ul class="sInfo pl-0 offset-5 col-6 p-0 pr-2" id="shareList">
					</ul>
				</li>
				<hr>
				<li class="row" id="sHaveDump">
					<span class="col-5 text-right">转存次数:</span>
					<span class="sInfo p-0 pr-2" id="sFileDumpTime">10</span> /
					<span class="sInfo pl-2 p-0" id="sMaxFileDumpTime">15</span>
				</li>
				<li class="row">
					<span class="col-5 text-right">下载次数:</span>
					<span class="sInfo p-0 pr-2" id="sDownTime">3</span> /
					<span class="sInfo pl-2 p-0" id="sMaxDownTime">15</span>
				</li>
				<hr>
				<li class="row" id="sHavePwd">
					<span class="col-5 text-right">密码:</span>
					<input type="password" name="" readonly class="sInfo col-3 p-0 pr-2 border-0" value="" id="sPwd" style="outline: none">
					<!--	显示密码 -->
					<i class="bi bi-eye-fill pwdShow"></i>
					<!--	隐藏密码 -->
					<i class="bi bi-eye-slash pwdHide"></i>
				</li>
				<li class="row" id="sHaveCode">
					<span class="col-5 text-right">访问码:</span>
					<input type="password" name="" readonly class="sInfo col-3 p-0 pr-2 border-0" value="" id="sCode" style="outline: none">
					<!--	显示取件码 -->
					<i class="bi bi-eye-fill codeShow"></i>
					<!--	隐藏取件码 -->
					<i class="bi bi-eye-slash codeHide"></i>
				</li>
				<li class="row" id="sHaveLink">
					<div class="col-5 text-right">分享链接:</div>
					<input type="text" id="sUrl" readonly class="sInfo col-6 p-0 pr-2" style="border: none;outline: none;" value="http://localhost/8080/s/dsafn32nvi3">
				</li>
				<li class="row" id="copyShareUrl">
					<div class="col-7"></div>
					<input type="button" class="btn btn-primary col-4 text-center" value="复制分享链接">
				</li>
				<li class="row" id="sHaveQR">
					<div class="col-5 text-right">二维码:</div>
					<img src="/static/img/logo.png" id="sQR" class="sInfo pl-0 offset-5 col-6 p-0 pr-2" alt="">
				</li>
			</ul>
		</nav>
		<!--	rMain:end	-->
	</div>

</div>

<!--  链接失效确认 模态框  -->
<div class="modal fade" id="shareFailModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h5 class="modal-title">操作确认</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body py-4 mx-2">
				<span>是否取消该链接的分享？</span>
			</div>

			<!-- 模态框底部 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="shareFailConfirm">确定</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
			</div>

		</div>
	</div>
</div>

</body>


</html>