<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 引入 popper.js(bootstrap-table需要)	-->
	<script src="/static/popper/popper.min.js"></script>

	<th:block th:include="common/header :: header(~{::title})">
		<title>标签管理</title>
	</th:block>


	<!-- drawer.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
	<!-- iScroll.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
	<!-- drawer.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

	<!-- 引入bootstrap-table.css	-->
	<link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.min.css">
	<!--	引入bootstrap-table.js -->
	<script src="/static/bootstrap-table/bootstrap-table.min.js"></script>
	<!--	引入bootstrap-table中文包 -->
	<script src="/static/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
	<!-- 引入bootstrop-select.css -->
	<link rel="stylesheet" href="/static/bootstrap-select/bootstrap-select.min.css">
	<!-- 引入bootstrop-select.js -->
	<script src="/static/bootstrap-select/bootstrap-select.min.js"></script>

	<style>
    body {
      background-color: #efefef;
      min-width: 1400px;
      margin: 0px auto;
      padding: 0px 0px;
      overflow: hidden;
    }

    .tMain {
      width: 85%;
      margin-left: 1.5%;
    }

    .tLists {
      padding-top: 10px;
      width: 20%;
      height: 100%;
      background-color: #fff;
    }

    .tLists .row .tAdd {
      padding: 0;
      margin-left: 15%;
      margin-top: 1%;
      font-size: 20px;
      color: #1296db;
      vertical-align: middle;
      cursor: pointer;
    }

    .tLists .tTags {
      /*position: relative;*/
      margin: 0;
    }

    .tLists ul {
      width: 100%;
      margin-top: 15px;
      margin-left: 10px;
      padding-left: 0;
    }

    .tLists ul li {
      position: relative;
      margin-bottom: 5px;
      padding-left: 30px;
      width: 95%;
      list-style: none;
    }

    .tLists ul li:hover {
      background: #ecf0f1;
    }

    .tLists ul li .info:hover {
      cursor: pointer;
    }

    .tLists ul li .tTag {
      padding-right: 20px;
      font-size: 15px;
      color: #797979;
    }

    .tLists .tTags .updTag {
      position: absolute;
      right: 10%;
      /*margin-left: 40%;*/
      font-size: 15px;
      color: #12a559;
      cursor: pointer;
    }

    .tLists .tTags .delTag {
      position: absolute;
      right: 0;
      /*margin-left: 3%;*/
      font-size: 15px;
      color: #c82333;
      cursor: pointer;
    }

    .tFiles {
      width: 78.5%;
      height: 100%;
      margin-left: 1%;
      padding: 1% 2%;
      background-color: #fff;
    }

    .tFiles table tbody tr td .bi {
	    font-size: 20px;
			color: #1296db;
	    cursor: pointer;
    }

    .tFiles table tbody tr td .bi:first-child {
      margin-right: 10px;
	    color: #333;
    }

    .tFiles table tbody tr td #delFile {
	    color: #ff111f;
    }

    .drawer-nav ul li {
	    list-style: none;
    }

    nav .sInfo {
      margin-left: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgb(21,151,219);
    }

    .drawer-nav>ul>li {
      margin-top: 10px;
    }

    .drawer-nav li .bi {
      margin-top: -5px;
      padding-left: 5px;
      font-size: 20px;
      color: #5a6268;
      cursor: pointer;
    }

    .drawer-nav li .bi-eye-fill {
      color: #1296db;
    }

    tbody tr:hover {
      background-color: rgba(18, 150, 219, .15);
    }
	</style>

	<script>
      $(function() {
          // 设置表格数据、样式
          // $('#tTable').bootstrapTable({
          //     // url: 'data1.json',
          //     // 表格 样式类
          //     classes: 'table',
          //     // 表格高度
          //     height: 550,
          //     // 自动去除搜索空格
          //     trimOnSearch: true,
          //     // 左对齐
          //     searchAlign: "left",
          //     // 分页
          //     pagination: true,
          //     // 开启查询
          //     search: true,
          //     data: [{
          //         fileName: "java实验一",
          //         fileSize: "1303M",
          //         createdTime: "2018-03-31",
		      //         operation: "<i class=\"bi bi-box-arrow-in-down-left\"></i>" +
				  //             "<i class=\"bi bi-three-dots drawer-toggle\"></i>"
          //     }]
          // });

          let delLi;
          // 点删除标签后，取到当前标签对象
          $(".delTag").click(function() {
              delLi = $(this).parent();
          });
          // 再点击确定按钮，把标签删除
          $(".delConfirm").click(function(){
              // 删除标签，并把文件带有的该标签去除
              // $.ajax();
              $("#delTagModal").modal("hide");
              delLi.remove();
          });

          // 更改标签 确认操作
          $(".addConfirm").click(function(){
              $("#addTagModal").modal("hide");
          });


          // 修改按钮，自动把值插入修改框
          $(".updTag").click(function(){
              $("#updateTag").val($(this).parent().text().trim());
          });
          // 修改标签 确认操作
          $(".updConfirm").click(function() {
              $("#updTagModal").modal("hide");
          })

          // 调用函数，初始化表格
          initTable();
          // 自定义搜索框，进行搜索
          $("#queryBtn").on("click", initTable);
          // 初始化表格
          function initTable() {
              // 先销毁表格
              $('#tTable').bootstrapTable('destroy');
              $('#tTable').bootstrapTable({
                  // url: "showConsumeRecordlList",//请求后台的URL（*）
                  // method: 'get',
                  // dataType: "json",
                  // undefinedText: "-",         // 当数据为 undefined 时显示的字符
                  pagination: true,           // 设置为 true 会在表格底部显示分页条。
                  pageList: [10, 20, 30, 40], // 可供选择的每页的行数（*），当记录条数大于最小可选择条数时才会出现
                  // paginationPreText: '上一页',
                  // paginationNextText: '下一页',
                  data_local: "zh-US",        // 表格汉化
                  // 表格 样式类
                  classes: 'table',
                  // 表格高度
                  height: 550,
                  // 查询 和 请求响应
                  // queryParams: function (params) {  // 自定义参数
                  //     return {//这里的params是table提供的
                  //         fileName: $("#searchFile").val() // 这个就是搜索框中的内容
                  //     };
                  // },
                  // responseHandler: function (res) {
                  //     //如果后台返回的json格式不是{rows:[{...},{...}],total:100},可以在这块处理成这样的格式
                  //     return "\"rows\":[ " + res + "]";
                  // },
                  data: [{
                      fileName: "java实验一",
                      fileSize: "1303M",
                      createdTime: "2018-03-31",
                      operation: "<i class=\"bi bi-box-arrow-in-down-left\"></i>" +
                          "<i class=\"bi bi-three-dots drawer-toggle\"></i>" +
		                      "<i class=\"bi bi-trash pl-2\" id='delFile' data-toggle=\"modal\" data-target=\"#delFileModal\"></i>"
                  }]
              })
          }

          // 抽屉(必须先创建元素，再绑定事件）
          $('.drawer').drawer();

          $(".bi-eye-fill").hide();
          // 密码显示
          $(".bi-eye-slash").click(function(){
              $("#sPwd").attr("type", "text");
              $(".bi-eye-fill").show();
              $(this).hide();
          })
          // 密码隐藏
          $(".bi-eye-fill").click(function(){
              $("#sPwd").attr("type", "password");
              $(".bi-eye-slash").show();
              $(this).hide();
          })
      })
	</script>
</head>

<body class="drawer drawer--right">
<div th:replace="common/nav-header :: nav-header"></div>
<div class="row" style="margin-top:8px;">
	<div th:replace="common/nav-left :: nav-left"></div>
	<div class="row tMain">

		<!--	标签列表	-->
		<div class="tLists shadow">
			<div class="row">
				<!--	标签搜索框 -->
				<div class="col-8 ml-1">
					<select id="groupQuery" class="selectpicker" multiple data-live-search="true">
						<option>rew</option>
					</select>
				</div>
				<!--	添加标签按钮 	-->
				<i class="bi bi-plus-square offset-1 col-2 tAdd" data-toggle="modal" data-target="#addTagModal"></i>
			</div>
			<div class="row tTags">
				<!--	 标签列表显示		-->
				<ul>
					<li>
						<span class="info"><i class="bi bi-tags tTag"></i>家人</span>
						<i class="bi bi-pencil-square updTag" data-toggle="modal" data-target="#updTagModal"></i>
						<i class="bi bi-x-square delTag" data-toggle="modal" data-target="#delTagModal"></i>
					</li>
					<li>
						<span class="info"><i class="bi bi-tags tTag"></i>朋友</span>
						<i class="bi bi-pencil-square updTag" data-toggle="modal" data-target="#updTagModal"></i>
						<i class="bi bi-x-square delTag" data-toggle="modal" data-target="#delTagModal"></i>
					</li>
					<li>
						<span class="info"><i class="bi bi-tags tTag"></i>同事</span>
						<i class="bi bi-pencil-square updTag" data-toggle="modal" data-target="#updTagModal"></i>
						<i class="bi bi-x-square delTag" data-toggle="modal" data-target="#delTagModal"></i>
				</ul>
			</div>
		</div>

		<!--	使用标签的文件列表 	-->
		<div class="tFiles shadow">

			<div class="row">
				<!--	自定义搜索框	-->
				<div class=".tSearch col-10">
					<div class="panel-body" style="padding-bottom: 1px;">
						<form class="form-horizontal">
							<div class="form-group row pb-0 m-2">
								<div class="col-3 pr-0">
									<!-- 自定义搜索框 -->
									<input type="text" name="searchString" id="searchFile"
									       class="form-control" placeholder="文件名"
									       onkeydown="javascript:if(event.keyCode==13) searchId();" />
								</div>
								<div class="col-sm-1 pl-0">
									<button type="button" class="btn btn-primary btn-w-m" id="queryBtn">
										<i class="bi bi-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<input type="button" class="btn btn-danger col-1 mt-2"
				       style="height: 30%;" id="delAllFile" value="删除"
				       data-toggle="modal" data-target="#delAllFileModal">
			</div>

			<!--  文件列表	-->
			<table id="tTable">
				<thead>
				<tr>
					<th  data-checkbox="true"></th>
					<th data-field="fileName" data-align="center">文件名</th>
					<th data-field="fileSize" data-align="center">文件大小</th>
					<th data-field="createdTime" data-align="center">修改时间</th>
					<th data-field="operation" data-align="center">操作</th>
				</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<!-- 删除标签模态框 -->
<div class="modal fade" id="delTagModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h5 class="modal-title">确认操作</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body mt-3 mb-3 ml-2 mr-2">
				您确定删除该标签么？<br/>
			</div>

			<!-- 模态框底部 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger delConfirm">确定</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
			</div>

		</div>
	</div>
</div>

<!-- 修改标签模态框 -->
<div class="modal fade" id="updTagModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h5 class="modal-title">修改标签名称</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body">
				<div class="row form-group">
					<label for="updateTag" class="col-form-label col-4 offset-1 text-right">新标签名:</label>
					<input type="text" name="updateTag" class="form-control col-5" id="updateTag" required>
				</div>
			</div>

			<!-- 模态框底部 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-primary updConfirm">确定</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
			</div>

		</div>
	</div>
</div>

<!-- 添加标签模态框 -->
<div class="modal fade" id="addTagModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h5 class="modal-title">添加标签</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body">
				<div class="row form-group">
					<label for="newTag" class="col-form-label col-4 offset-1 text-right">标签名:</label>
					<input type="text" name="newTag" class="form-control col-5" id="newTag" required placeholder="标签名">
				</div>
			</div>

			<!-- 模态框底部 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-primary addConfirm">确定</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
			</div>

		</div>
	</div>
</div>

<!--  文件删除该标签 模态框  -->
<div class="modal fade" id="delFileModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h5 class="modal-title">删除确认</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body py-4 mx-2">
				<span>是否将此文件从该标签下移除?</span>
			</div>

			<!-- 模态框底部 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger fDelConfirm">确定</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
			</div>

		</div>
</div>
</div>

<!--  多文件删除该标签 模态框  -->
<div class="modal fade" id="delAllFileModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h5 class="modal-title">删除确认</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body py-4 mx-2">
				<span>是否将选中的文件从该标签下移除?</span>
			</div>

			<!-- 模态框底部 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="fAllDelConfirm">确定</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
			</div>

		</div>
	</div>
</div>


<!--  文件详情  -->
<nav class="drawer-nav" role="navigation" style="z-index: 20;">
	<ul class="pl-0">
		<li class="text-center" style="width: 100%">
			<img src="/static/img/logo.png" alt="" style="width: 40%;">
		</li>
		<li class="row">
			<span class="col-5 text-right">文件名:</span>
			<span class="sInfo col-6 p-0 pr-2">地觅仙泉灾夏无酷暑鄙厅里淡标题</span>
		</li>
		<hr>
		<li class="row">
			<span class="col-5 text-right">分享方式:</span>
			<span class="sInfo col-6 p-0 pr-2">内部分享</span>
		</li>
		<!--	分享人应该可以 加/删	-->
<!--		<li class="row" id="sharePeople">-->
<!--			<span class="col-5 text-right">分享人:</span>-->
<!--			<ul class="sInfo pl-0 offset-5 col-6 p-0 pr-2">-->
<!--				<li>家人</li>-->
<!--				<li>李咏</li>-->
<!--			</ul>-->
<!--		</li>-->
<!--		<hr>-->
<!--		<li class="row">-->
<!--			<span class="col-5 text-right">总转存次数:</span>-->
<!--			<span class="sInfo col-6 p-0 pr-2">15</span></li>-->
<!--		<li class="row">-->
<!--			<span class="col-5 text-right">已转存次数:</span>-->
<!--			<span class="sInfo col-6 p-0 pr-2">10</span></li>-->
<!--		<li class="row">-->
<!--			<span class="col-5 text-right">总下载次数:</span>-->
<!--			<span class="sInfo col-6 p-0 pr-2">15</span></li>-->
<!--		<li class="row">-->
<!--			<span class="col-5 text-right">已下载次数:</span>-->
<!--			<span class="sInfo col-6 p-0 pr-2">10</span></li>-->
<!--		<hr>-->
<!--		<li class="row">-->
<!--			<span class="col-5 text-right">分享密码:</span>-->
<!--			<input type="password" name="" class="sInfo col-2 p-0 pr-2 border-0" value="3Daj" id="sPwd" style="outline: none;">-->
<!--			&lt;!&ndash;	显示密码 &ndash;&gt;-->
<!--			<i class="bi bi-eye-fill"></i>-->
<!--			&lt;!&ndash;	隐藏密码 &ndash;&gt;-->
<!--			<i class="bi bi-eye-slash"></i>-->
<!--		</li>-->
<!--		<li class="row">-->
<!--			<div class="col-5 text-right">二维码:</div>-->
<!--			<img src="/static/img/logo.png" class="sInfo pl-0 offset-5 col-6 p-0 pr-2" alt="">-->
<!--		</li>-->
	</ul>
</nav>
</body>
</html>