@font-face {
  font-family: "iconfont"; /* Project id 2539461 */
  src: url('iconfont.woff2?t=1623414422365') format('woff2'),
       url('iconfont.woff?t=1623414422365') format('woff'),
       url('iconfont.ttf?t=1623414422365') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mp3:before {
  content: "\e64b";
}

.icon-gif:before {
  content: "\e612";
}

.icon-mp4:before {
  content: "\e613";
}

.icon-png:before {
  content: "\e68a";
}

.icon-avi:before {
  content: "\e604";
}

.icon-py:before {
  content: "\e906";
}

.icon-svn:before {
  content: "\e618";
}

.icon-mov:before {
  content: "\e84b";
}

.icon-rar:before {
  content: "\e624";
}

.icon-msi:before {
  content: "\e6c0";
}

.icon-sh:before {
  content: "\e6dd";
}

.icon-uicon_zip:before {
  content: "\e632";
}

.icon-uicon_pkg:before {
  content: "\e635";
}

.icon-mid:before {
  content: "\e6c1";
}

.icon-js:before {
  content: "\e64f";
}

.icon-xml:before {
  content: "\e633";
}

.icon-conf:before {
  content: "\e660";
}

.icon-bin:before {
  content: "\e66c";
}

.icon-iso:before {
  content: "\e743";
}

.icon-arj:before {
  content: "\e6f1";
}

.icon-dll:before {
  content: "\e6f3";
}

.icon-tar:before {
  content: "\e6ed";
}

.icon-gz:before {
  content: "\e6fd";
}

.icon-mpg:before {
  content: "\e717";
}

.icon-json:before {
  content: "\e605";
}

.icon-project:before {
  content: "\e6ce";
}

.icon-wma:before {
  content: "\e600";
}

.icon-log:before {
  content: "\e601";
}

.icon-so:before {
  content: "\e634";
}

.icon-ini:before {
  content: "\e60b";
}

.icon-sys:before {
  content: "\e60c";
}

.icon-deb:before {
  content: "\e7ac";
}

.icon-mdf:before {
  content: "\e7d3";
}

.icon-css:before {
  content: "\e636";
}

.icon-mpeg:before {
  content: "\e637";
}

.icon-7z:before {
  content: "\e639";
}

.icon-bat:before {
  content: "\e8ea";
}

.icon-java:before {
  content: "\e63b";
}

.icon-php:before {
  content: "\e63c";
}

.icon-asp:before {
  content: "\e63d";
}

.icon-rm:before {
  content: "\e6ad";
}

.icon-a:before {
  content: "\e640";
}

.icon-jsp:before {
  content: "\e6c3";
}

.icon-gitignore:before {
  content: "\e641";
}

.icon-class:before {
  content: "\e915";
}

.icon-asf:before {
  content: "\e897";
}

.icon-classpath:before {
  content: "\e798";
}

.icon-dmg:before {
  content: "\e642";
}

.icon-rpm:before {
  content: "\e643";
}

.icon-gitattributes:before {
  content: "\e631";
}

.icon-other:before {
  content: "\e630";
}

.icon-htm:before {
  content: "\e62f";
}

.icon-exe:before {
  content: "\e62e";
}

.icon-wav:before {
  content: "\e62d";
}

.icon-rmvb:before {
  content: "\e62c";
}

.icon-jpg:before {
  content: "\e616";
}

.icon-jpeg:before {
  content: "\e62a";
}

.icon-bmp:before {
  content: "\e629";
}

.icon-dbf:before {
  content: "\e608";
}

.icon-doc:before {
  content: "\e609";
}

.icon-m4r:before {
  content: "\e60e";
}

.icon-flac:before {
  content: "\e60f";
}

.icon-html:before {
  content: "\e610";
}

.icon-docx:before {
  content: "\e611";
}

.icon-ppt:before {
  content: "\e619";
}

.icon-pptx:before {
  content: "\e61a";
}

.icon-ogg:before {
  content: "\e61b";
}

.icon-svg:before {
  content: "\e61c";
}

.icon-rtf:before {
  content: "\e61d";
}

.icon-sql:before {
  content: "\e61e";
}

.icon-txt:before {
  content: "\e61f";
}

.icon-tif:before {
  content: "\e620";
}

.icon-xlt:before {
  content: "\e621";
}

.icon-webp:before {
  content: "\e622";
}

.icon-xls:before {
  content: "\e623";
}

.icon-tiff:before {
  content: "\e625";
}

.icon-xlsx:before {
  content: "\e626";
}

.icon-webm:before {
  content: "\e627";
}

.icon-csv:before {
  content: "\e606";
}

.icon-aac:before {
  content: "\e603";
}

.icon-dir:before {
  content: "\e80c";
}

.icon-swf:before {
  content: "\e65d";
}

.icon-c:before {
  content: "\e60d";
}

.icon-m3u:before {
  content: "\ed8a";
}

.icon-m3u8:before {
  content: "\e63f";
}

.icon-wps:before {
  content: "\e607";
}

.icon-ico:before {
  content: "\e617";
}

.icon-com:before {
  content: "\e8aa";
}

.icon-lnk:before {
  content: "\e63e";
}

.icon-tmp:before {
  content: "\e662";
}

.icon-ttf:before {
  content: "\e666";
}

.icon-bak:before {
  content: "\e693";
}

.icon-obj:before {
  content: "\e602";
}

.icon-md:before {
  content: "\e665";
}

.icon-pdf:before {
  content: "\e60a";
}

.icon-dot:before {
  content: "\ed86";
}

