<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhai.cloud.mapper.UserFileMapper">
    <select id="getByIds" resultType="com.hanhai.cloud.entity.UserFile">
        select * from user_files where user_file_id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>

            and user_id = #{userId} and deleted = 0
    </select>

    <select id="getByNames" resultType="com.hanhai.cloud.entity.UserFile">
        select * from user_files where file_parent_path = #{path} and file_name in
        <foreach collection="names" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>
        and user_id = #{userId} and deleted = 0
    </select>
</mapper>